/*PAGE*/

*{
	margin: 0;
	padding: 0;
}
body{
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-0-animation: fadein 1.5s;
	-animation: fadein 1.5s;

}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}} 
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
#info{
	width: 95%;
	margin: 45px auto 30px auto;
}

/*HEADER*/

#name{
	font-family: 'Muli', sans-serif;
	font-size: 1.27em;
	font-weight: 100;
	margin-right: 10px;
}
#name:after {
    content: " | ";
    color: lightgray;
    margin-left: 35px;
}
#links{
	display: none;
	height: 60px;
	width: 97.5%;
	text-align: center;
	margin: 6.5px 35% 0 0;
	background-color: white;
}
#menubackground{
	display: none;
	height: 60px;
	width: 91.5%;
	text-align: center;
	margin: 0px 30% 0 0;
	position: absolute;
	top: 0;
	z-index: -100;
	background: linear-gradient(to right, #f1f1f1 , white);
}
a{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	font-size: .9em;
	font-weight: 200;
	margin: 0px 15px 0px 30px;
	color: black;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}
a:hover{
	color: #2a88b5;
	font-size: .92em;
	margin: 0px 15px 0px 30px;
}
li{
	display: inline-block;
	padding-top: 27px;
	line-height: 1em;
	list-style-type: none;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}

/* BIRD/PALETTE */

#icon{
	position: absolute;
	top: 12px;
	right: 12px;
}
#icon a{
	margin: 0;
}
#bird{
	width: 50px;
	height: auto;
}

/* EXPAND/COLLAPSE ARROW */

#arrowdiv{
	margin: 5px auto 0 auto;
	text-align: center;
}
#arrow{
	width: 40px;
}
#arrow:hover{
	cursor: pointer;
}
.rotate{
 	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

/*CONTENT*/

#portrait{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}
#portrait img{
	width: 320px;
	height: auto;
}
#text{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 58%;
	margin: 30px 0px 30px 40px;
}
#text h3{
	font-family: 'Muli', sans-serif;
	font-size: 1.38em;
	font-weight: 100;
	color: #a8a8a8;
	letter-spacing: .03em;
	padding-bottom: 10px;
}
#text p{
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: .9em;
	line-height: 1.7em;
}
#text a{
	margin: 0 0 0 0;
	font-size: 1em;
	color: #2a88b5;
}


/*MEDIA -> LARGE MONITOR*/

@media only screen and (min-width: 1400px){
	#name{
		font-size: 3em;
		font-weight: 100;
		margin-right: 30px;
	}
	#name:after {
	    margin-left: 90px;
	}
	#links{
		height: 105px;
		width: 97.5%;
		margin: 6.5px 35% 0 0;
	}
	#menubackground{
		height: 80px;
		width: 91.5%;
		margin: 0px 30% 0 0;
	}
	a{
		font-size: 2em;
		font-weight: 200;
		margin: 0px 25px 0px 80px;
	}
	a:hover{
		font-size: .945em;
		margin: 0px 24.5px 0px 61px;
	}
	li{
		padding-top: 40px;
		line-height: 1em;
	}
	#icon{
		top: 20px;
		right: 20px;
	}
	#bird{
		width: 75px;
		height: auto;
	}
	#arrowdiv{
		margin: 0px auto 0 auto;
	}
	#arrow{
		width: 80px
	}

	/*CONTENT*/

	#portrait{
		display: inline-block;
		vertical-align: top;
		padding-top: 150px;
	}
	#portrait img{
		width: 620px;
		height: auto;
	}
	#text{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 58%;
		margin: 175px 0px 30px 60px;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 3.2em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding-bottom: 10px;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: 1.8em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}
}

/*MEDIA -> TABLET 1100*/

@media only screen and (max-width: 1100px){
	#name{
		font-size: 1.8em;
		font-weight: 100;
		margin-right: 10px;
	}
	#name:after {
    	content: " | ";
    	margin-left: 20px;
	}
	#links{
		height: 75px;
		width: 97.5%;
		margin: 6.5px 35% 0 0;
	}
	#menubackground{
		height: 60px;
		width: 91.5%;
		margin: 0px 30% 0 0;
	}
	a{
		font-size: 1.4em;
		font-weight: 200;
		margin: 0px 10px 0px 10px;
	}
	a:hover{
		font-size: .945em;
		margin: 0px 24.5px 0px 61px;
	}
	li{
		padding-top: 30px;
		line-height: 1em;
	}
	#icon{
		top: 18px;
		right: 18px;
	}
	#bird{
		width: 65px;
		height: auto;
	}
	#arrowdiv{
		margin: 10px auto 0 auto;
	}
	#arrow{
		width: 55px
	}

	/*CONTENT*/

	#portrait{
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 30px 0 30px 0;
		text-align: center;
	}
	#portrait img{
		width: 480px;
		height: auto;
	}
	#text{
		display: block;
		width: 75%;
		margin: 0 auto 0 auto;
		padding: 30px 0 30px 0;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 3em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding: 30px 0 30px 0;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: 1.8em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}
}

/*MEDIA -> TABLET 850*/

@media only screen and (max-width: 850px){
	#name{
		font-size: 1.4em;
		font-weight: 100;
		margin-right: 7px;
	}
	#name:after {
    	content: " | ";
    	margin-left: 10px;
	}
	#links{
		height: 60px;
		width: 97.5%;
		margin: 6.5px 35% 0 0;
	}
	#menubackground{
		height: 60px;
		width: 91.5%;
		margin: 0px 30% 0 0;
	}
	a{
		font-size: 1.15em;
		font-weight: 200;
		margin: 0px 7px 0px 7px;
	}
	a:hover{
		font-size: 1.17em;
		margin: 0px 7px 0px 7px;
	}
	li{
		padding-top: 25px;
		line-height: 1em;
	}
	#icon{
		top: 13px;
		right: 13px;
	}
	#bird{
		width: 50px;
		height: auto;
	}
	#arrowdiv{
		margin: 0px auto 0 auto;
	}
	#arrow{
		width: 45px
	}

	/*CONTENT*/

	#portrait{
		display: block;
		margin: 0 0 0 -9px;
		padding: 30px 0 45px 0;
	}
	#portrait img{
		width: 440px;
		height: auto;
	}
	#text{
		display: block;
		width: 75%;
		margin: 0 auto 0 auto;
		padding: 30px 0 30px 0;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 2.8em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding: 30px 0 30px 0;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: 1.65em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}
}

/*MEDIA -> SMARTPHONE 500 */

@media only screen and (max-width: 500px){
	#name{
		font-size: .85em;
		font-weight: 100;
		margin-right: 0px;
		margin-bottom: 5px;
	}
	#name:after {
    	content: "";
    	margin-left: 0px;
	}
	#links{
		height: 240px;
		width: 100%;
		margin: auto;
	}
	#menubackground{
		height: 240px;
		width: 91.5%;
		margin: auto;
	}
	a{
		font-size: 1.18em;
		font-weight: 200;
		margin: 0px 10px 0px 10px;
	}
	a:hover{
		font-size: 1.19em;
		margin: 0px 10px 0px 10px;
	}
	li{
		display: block;
		padding-top: 25px;
		line-height: .65em;
	}
	#icon{
		top: 15px;
		right: 15px;
	}
	#bird{
		width: 55px;
		height: auto;
	}
	#arrowdiv{
		margin: 10px auto 0 auto;
	}
	#arrow{
		width: 55px
	}

	/*CONTENT*/

	#portrait{
		display: block;
		margin: 0 0 0 -9px;
		padding: 10px 0 10px 0;
	}
	#portrait img{
		width: 325px;
		height: auto;
	}
	#text{
		display: block;
		width: 82%;
		margin: 0 auto 0 auto;
		padding: 30px 0 30px 0;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 1.66em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding: 30px 0 30px 0;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: 1.1em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}
}

/*MEDIA -> SMARTPHONE 400 */

@media only screen and (max-width: 400px){

	#icon{
		top: 12px;
		right: 10px;
	}
	#bird{
		width: 45px;
		height: auto;
	}
	#arrowdiv{
		margin: 10px auto 0 auto;
	}
	#arrow{
		width: 45px
	}
	
	/*CONTENT*/

	#portrait{
		display: block;
		margin: 0 0 0 -9px;
		padding: 10px 0 10px 0;
	}
	#portrait img{
		width: 300px;
		height: auto;
	}
	#text{
		width: 82%;
		margin: 0 auto 0 auto;
		padding: 30px 0 30px 0;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 1.5em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding: 30px 0 30px 0;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: .95em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}	
}

/*MEDIA -> SMARTPHONE 340 */

@media only screen and (max-width: 340px){
	
	/*CONTENT*/

	#portrait{
		display: block;
		margin: 0 0 0 -9px;
		padding: 0;
	}
	#portrait img{
		width: 270px;
		height: auto;
	}
	#text{
		display: block;
		width: 82%;
		margin: 0 auto 0 auto;
		padding: 30px 0 30px 0;
	}
	#text h3{
		font-family: 'Muli', sans-serif;
		font-size: 1.35em;
		font-weight: 100;
		color: #a8a8a8;
		letter-spacing: .03em;
		padding: 30px 0 30px 0;
	}
	#text p{
		font-family: 'Muli', sans-serif;
		font-weight: 300;
		font-size: .95em;
		line-height: 1.7em;
	}
	#text a{
		margin: 0 0 0 0;
		font-size: 1em;
		color: #2a88b5;
	}	
}






