body{
	font-family: 'Muli', sans-serif;

	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-0-animation: fadein 1.5s;
	-animation: fadein 1.5s;

}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}} 
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
}
#top{
	text-align: center;
	top: 0;
}
#top p{
	opacity: 0;
}
h1{
	font-weight: 400;
	font-size: 3em;
	text-align: center;
	margin: 70px 0px 50px 0px;
}
a{
	text-decoration: none;
	color: black;
}
.outer{
	margin-top: 55px;
	width: 100%;
}
.info{
	width: 400px;
	margin: 0 auto;
	border: solid #bdbdbd;
	border-width: .5px;
	padding: 25px 110px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
  	-o-transition: all .4s ease-in-out;
  	transition: all .4s ease-in-out;
}
.info:hover{
	border: solid black;
	border-width: .5px;
	padding: 15px 110px;
}
p{
	line-height: 1.75em;
	font-size: 1.05em
}
.catg{
	font-family: 'Libre Baskerville', serif;
	font-size: .7em;
	color: #696969;
}
#center{
	text-align: center;
	margin-top: 40px;
}
#contact{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	font-size: .8em;
	color: #767676;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#contact:hover{
	color: #e9e9e9;
}

/*MEDIA -> 810*/

@media only screen and (max-width: 810px){ 
	.info{
		width: 300px;
		padding: 25px 30px
}
	.info:hover{
		border: solid black;
		border-width: .5px;
		padding: 35px 30px;
}

