*{
	margin: 0;
	padding: 0;
}
a{
	color: #696969;
	text-decoration: none;
}
a:hover{
	color: #2a88b5;
	cursor: pointer;
}
body{
	position: absolute;
	font-family: 'Muli', sans-serif;

	background: -webkit-linear-gradient(white 32%, #EAEEE8);
    background: -o-linear-gradient(white 32%, #EAEEE8);
    background: -moz-linear-gradient(white 32%, #EAEEE8);
    background: linear-gradient(white 32%, #EAEEE8);

	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}


/*MOBILE MENU*/


#mobilenav, .mobilemenu{
	display: none;
	position: absolute;
	position: fixed;

	z-index: 990;
}
#mobilenav{
	height: 70px;
	width: 100vw;
	position: fixed;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;
}
.mobilemenu{
	position: absolute;
	top: 14px;
	left: 13px;

	width: 52px;
	height: 40px;

	cursor: pointer;
	transition: background 0.3s;
}
.mobilemenu span {
	display: block;
	position: absolute;
	top: 19.5px;
	left: 7px;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;

	background: #2193A2;
}
.mobilemenu span::before,
.mobilemenu span::after {
	position: absolute;
	display: block;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;
	content: "";
}
.mobilemenu span::before {
	top: -9px;
	background-color: #2175A6;
}
.mobilemenu span::after {
	bottom: -9px;
	background-color: #818386;
}
.mm-htx span::before,
.mm-htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.1s, 0s;
}
.mm-htx span::before {
	transition-property: top, transform;
}
.mm-htx span::after {
	transition-property: bottom, transform;
}
.mm-htx.active span {
	background: none;
}
.mm-htx.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.mm-htx.active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}
.mm-htx.active span::before,
.mm-htx.active span::after {
	transition-delay: 0s, 0.1s;
}
.show{
	opacity: 1;
}
.hide{
	opacity: 0;
}


/*DESKTOP MENU*/


nav{
	height: 75px;
	width: 100vw;

	position: absolute;
	position: fixed;
	z-index: 990;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
nav > ul > li{
	font-size: 1em;
	list-style: none;
	display: inline-block;
	position: relative;
	font-weight: 300;
	margin: 0 2.2vw 0 2.2vw;

	-webkit-transition: all .18s ease-in-out;
	-moz-transition: all .18s ease-in-out;
  	-o-transition: all .18s ease-in-out;
  	transition: all .18s ease-in-out;
}
nav > ul > li:hover{
	color: #2a88b5;
	cursor: pointer;
}
#menuname{
	font-size: 1.6em;
	font-weight: 200;
	margin-left: -40px;
}
#divline{
	font-size: 1.6em;
	font-weight: 100;
	color: #696969;
	margin: 0 -170px 0 -150px;
	padding: 0;
}
#menubird{
	position: absolute;
	position: fixed;

	z-index: 1000;

	top: 10px;
	right: 8px;
	width: 55px;
	height: auto;

	-webkit-transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
  	-o-transition: all .17s ease-in-out;
  	transition: all .17s ease-in-out;

	-webkit-filter: saturate(0%) brightness(160%) contrast(80%);
    filter: saturate(0%) brightness(160%) contrast(80%);
}
#menubird:hover{
	cursor: pointer;

	-webkit-filter: saturate(100%) brightness(100%) contrast(100%);
    filter: saturate(100%) brightness(100%) contrast(100%);
}


/*DOWNLOAD*/


#dcont{
	width: 100vw;
	height: 35px;
	margin: 30px 0 60px 0;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;
}
#download{
	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;

	width: 165px;
	height: 50px;

	border-radius: 3px;
	background-color: white;
	box-shadow: 0 .5px 15px 0px #F3F3F3;
}
#dlp{
	font-size: 1.2em;
	font-weight: 300;
	margin-left: 4px;
}
#dldiv{
	height: 25px;
	width: 1px;
	background-color: #A8A8A8;
	margin: 0 4px 0 9.5px;

	border-radius: 10px;
	box-shadow: -.2px 0 2px 0px #E4E4E4;
}
#dlarrow{
	width: 20px;
	margin: -.5px 3.5px 0 7.5px;
}
#download:hover > #dlarrow{
	-webkit-filter: brightness(130%) saturate(0%);
    filter: brightness(130%) saturate(0%);
}


/*RESUME HEADER*/


#container{
	position: relative;
	z-index: 950;

	width: 90%;
	overflow: auto;
	max-width: 1800px;

	margin: 140px auto 0px auto;
	padding: 50px 0 60px 0;

	background-color: white;
	box-shadow: 0 .5px 15px 0px #F3F3F3;
}
#header{
	margin-top: 10px;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}
#headerimgs{
	width: 25%;
	float: left;
	margin-left: 55px;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
#resleft{
	width: 70px;
	height: auto;
	margin: -8px 0 0 0;
}
#reshead{
	width: 210px;
	height: auto;
	margin: 0 10px 0 -15px;

	-webkit-filter: saturate(75%) brightness(105%);
	filter: saturate(75%) brightness(105%);
}
#header li{
	list-style: none;
	display: inline-block;
}
#headtext{
	margin: -15px 0 0 0;
}
h1{
	font-size: 75px;
	font-weight: 300;
	color: #8B9792;
}
.subheaditem{
	font-size: 22px;
	letter-spacing: .0175em;
	font-weight: 300;
}
#subhead{
	margin-left: -14px;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.hs1{
	width: 10px;
	height: 10px;
	margin-top: 2px;
	background-color: #D9D9D9;
	display: inline-block;
}
.hs1-min{
	width: 6px;
	height: 6px;
	margin: 0px 3px 2px 4px;
	background-color: #D9D9D9;
	display: inline-block;
}



/*GENERAL STYLING*/


h2{
	font-weight: 300;
	font-size: 35px;
	margin: 40px 0 0px 0;
}
h3{
	font-weight: 500;
	font-size: 20px;
	color: #8B9792;
	margin: 18px 0 3px 0;
}
h3 a:visited{
	color: #8B9792;
}
h5{
	font-weight: 400;
	font-size: 14px;
	margin: 2.5px 0;
}
.bold{
	font-size: 14.7px;
	font-weight: 700;
}
.unbold{
	font-weight: 300;
	font-size: 13px;
	color: #8C8C8C;
	margin-left: 3px;
}
.btnwrapper, .expbutton{
	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;
}
.expbutton{
	width: 80px;
	height: 27px;

	font-weight: 200;
	display: none;

	background-color: white;
	border-radius: 2px;
	border-bottom: 3px solid #B6B6B6;
}
.expbutton:hover{
	cursor: pointer;
}


/*LEFT COLUMN*/


#leftcolumn{
	float: left;
	width: 47%;
	margin-left: 5.5%;
}
.responsibilities{
	margin: 18px 0 18px 0;
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 400;
}
.hs2{
	width: 7px;
	height: 7px;
	margin: 0px 12px 1.7px -19.5px;
	background-color: #D9D9D9;
	display: inline-block;

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.extrabr{
	margin-bottom: 20px;
}
.summary{
	width: 86%;
	border: .5px solid #e6e7e8;
	border-left: none;
	padding: 20px 10px 20px 70px;
	margin-top: 30px;
	margin-left: -70px;
}
.job_sum{
	width: 84%;
	margin-bottom: 15px;
}
.summary p, .job_sum{
	font-size: 14px;
	line-height: 1.6em;
	font-weight: 400;
}
.summary p{
	font-size: 15px;
}
#compinfo{
	margin-top: 18px;
}

/*RIGHT COLUMN*/


#rightcolumn{
	float: right;
	width: 45%;
}
.school{
	margin: 15px 0;
}


/*FOOTER*/


footer{
	position: absolute;
	clear: both;
	width: 100%;
	height: 65px;

	background-color: white;
	box-shadow: 0 -2px 1px .1px #F3F3F3;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
#footerg{
	width: 35px;
	height: auto;
}
#footerinfo{
	margin-left: -35px;
}
#footercontact{
	display: flex;
	display: -webkit-flex;

	justify-content: flex-end;
	-webkit-justify-content: flex-end;

	margin-right: -38px;
}
#text{
	text-align: right;
	margin-right: 12px;
}
.footergrey{
	font-size: 12.5px;
	color: #8C8C8C;
}
.footerblack{
	font-size: 12.5px;
	color: #3F3F3F;
}
.contactlink{
	-webkit-transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
  	-o-transition: all .17s ease-in-out;
  	transition: all .17s ease-in-out;
}
.contactlink:hover{
	color: #2a88b5;
}
.socicon{
	width: 36px;
	margin: 3px 2px 0 0px;

    -webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
  	-o-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
}
.socicon:hover{
	-webkit-filter: brightness(120%);
    filter: brightness(120%);
}


/* MEDIA QUERIES */


@media screen and (max-width: 1100px) {
	nav{
		pointer-events: none;
		position: absolute;
		position: fixed;
		z-index: 960;

		opacity: 0;
		width: 100vw;
		height: 100vh;

		padding: 10px 0;
		background-color: #F8F8F8;
	}
	nav > ul > li{
		font-size: 8vw;
		text-align: center;
		font-weight: 300;
		color: #5A5B5D;

		display: block;
		position: relative;

		margin: 30px 2.2vw 0px 2.2vw;
	}
	#menuname, #divline{
		display: none;
	}
	#mobilenav, .mobilemenu{
		display: block;
		position: fixed;
	}
	#menubird{
		position: fixed;
		top: 10px;
		right: 5px;
		width: 55px;
	}
	.mobile_shift{
   		margin-top: -25px;
 	}

	/*HEADER*/

	#header{
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	#headerimgs{
		width: 100%;
		margin: 0;

		float: none;

		justify-content: center;
		-webkit-justify-content: center;
	}
	#resleft{
		display: none;
	}
	#reshead{
		width: 250px;
		margin: 0;
	}
	#headtext{
		width: 100%;
		margin: 0;

		display: flex;
		display: -webkit-flex;

		flex-direction: column;
		-webkit-flex-direction: column;

		align-items: center;
		-webkit-align-items: center;

		justify-content: space-around;
		-webkit-justify-content: space-around;
	}
	h1{
		font-size: 40px;
		font-weight: 300;
	}
	#subhead{
		width: 90%;
		text-align: center;
		margin-top: 20px;
		margin-left: 0px;

		display: flex;
		display: -webkit-flex;

		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.subheaditem{
		font-size: 20px;
		font-weight: 200;
		letter-spacing: 0em;
		line-height: 1.5em;
	}
	.hs1{
		display: none;
		width: 7px;
		height: 7px;
		margin: 2px 7px 0 7px;
	}

	/*CONTENT*/

	#container{
		width: 90%;
		margin: 100px auto 0px auto;
		padding: 20px 0 30px 0;
		zoom: .9;
	}
	.expbutton{
		display: block;
	}
	#ctrlqs, #cesr, #persinfo, #eduinfo, #compinfo, #datasci, #logrhy{
		display: none;
	}
	#ctrlqsbtn, #cesrbtn, #edubtn, #datascibtn, #logrhybtn{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#compbtn{
		margin-top: 15px;
	}
	#persbtn{
		margin-bottom: 20px;
	}
	.inner{
		width: 90%;
		max-width: 500px;

		padding: 25px 15px 20px 15px;
		margin-left: -.7%;
		border-radius: 2px;
		background-color: #F9F9F9;
	}
	#leftcolumn, #rightcolumn{
		display: flex;
		display: -webkit-flex;

		flex-direction: column;
		-webkit-flex-direction: column;

		align-items: center;
		-webkit-align-items: center;

		justify-content: center;
		-webkit-justify-content: center;

		float: none;
		width: 90%;
		margin-left: 5.5%;
		text-align: center;
	}
	.summary{
		width: 93%;
		border-left: .5px solid #e6e7e8;
		margin-top: 40px;
		margin-left: 0;
		padding: 20px 10px 20px 10px;
	}
	.hs2{
		margin: 0px 10px 0 0px;
	}
	br{
		line-height: 2em;
	}
	.ub1:before{
	    content:"\a";
    	white-space: pre;
	}
	.job_sum{
		width: 97%;
		text-align: center;
	}

	/*FOOTER*/

	footer{
		position: relative;
		height: 200px;

		flex-direction: column;
		-webkit-flex-direction: column;

		align-items: flex-start;
		-webkit-align-items: flex-start;

		justify-content: flex-start;
		-webkit-justify-content: flex-start;
	}
	#footerinfo{
		width: 95%;
		margin: 25px 0 10px 12px;
	}
	#footercontact{
		flex-direction: column;
		-webkit-flex-direction: column;

		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		margin: 5px 0 8px 12px;
	}
	#text{
		text-align: left;
	}
	#icons{
		position: relative;
		margin: 18px 0 0px 0;
	}
	#footerg{
		position: absolute;
		bottom: 28px;
		right: 15px;
		width: 35px;
	}
	.mobilesoc{
		width: 100vw;
		height: 100vh;
		z-index: 980;
		background-color: #F8F8F8;

		display: flex;
		display: -webkit-flex;

		flex-direction: column;
		-webkit-flex-direction: column;

		align-items: center;
		-webkit-align-items: center;

		justify-content: center;
		-webkit-justify-content: center;
	}
}

@media screen and (min-width: 750px) and (max-width: 1100px){
	.fullbkgd{
		zoom: 0;
	}
	#mobilenav{
		height: 100px;
	}
	#menubird{
		width: 95px;
	}
	.mobilemenu span, .mobilemenu span::before, .mobilemenu span::after{
		width: 60px;
    height: 3px;
	}
	.mobilemenu span::before{
		top: -14px;
	}
	.mm-htx.active span::after{
		top: -1px
	}
	.mobilemenu span::after{
		top: 14px;
	}
	.mobilemenu{
		top: 30px;
    left: 26px;
    width: 70px;
    height: 50px;
	}
	nav > ul > li{
		margin: 45px 2.2vw 0px 2.2vw;
	}

	.inner{
		width: 100%;
		margin-left: none;
		max-width: 620px;	
	}


	.footerblack, .footergrey{
		font-size: 20px;
	}
	#footerinfo, #footercontact{
		margin-left: 55px;
		width: 90%;
	}
	.socicon{
		width: 55px;
		margin: 3px 5px 20px 0;
	}
	#footerg{
		bottom: 40px;
    right: 25px;
    width: 55px;
	}
	footer{
		height: 260px;
	}
}

@media screen and (min-width: 2000px) {

	/*HEADER*/

	nav{
		height: 120px;
	}
	nav > ul > li{
		font-size: 1.9em;
		margin: 0 2.6vw 0 2.6vw;
	}
	#menuname{
		font-size: 2.8em;
	}
	#divline{
		font-size: 2.6em;
		font-weight: 200;
		margin: 0 -200px 0 -150px;
	}
	#menubird{
		width: 95px;
	}

	/*FOOTER*/

	footer{
		height: 110px;
	}
	.footergrey{
		font-size: 1.5em;
	}
	.footerblack{
		font-size: 1.5em;
	}
	.socicon{
		width: 60px;
		margin: 3px 0px 0 5px;
	}
	#footerinfo{
		margin-left: -95px;
	}
	#footercontact{
		margin-right: -95px;
	}

	/*CONTENT*/

	#container{
		zoom: 1.8;
		-moz-transform: scale(1.8);
	}
	#dcont{
		margin: 95px 0 245px 0;
	}
	#download{
		zoom: 2.2;
		-moz-transform: scale(2.2);
	}
	.summary{
		margin-left: -80px;
		padding: 20px 10px 20px 80px;
	}
}
