*{
	margin: 0;
	padding: 0;
}
body{
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}} 
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}

#background{
    background-image: url(../images/background.png);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -100;

    -webkit-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -ms-transition:all .5s ease-in;

    -webkit-animation: fadein 1.9s;
	-moz-animation: fadein 1.9s;
	-o-animation: fadein 1.9s;
	animation: fadein 1.9s;
}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}} 
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}

/* NAME */

#name{
	width: 45%;
	height: auto;
	margin-top: 14.5%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
h3{
	font-family: 'Muli', sans-serif;
	text-align: center;
	font-size: 2.8em;
	font-weight: 100;
	padding-top: 85px;
	letter-spacing: .03em;
}
hr{ 
  border: 0; 
  width: 420px;
  margin: 10px auto 0 auto;
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #cecaca, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #cecaca, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #cecaca, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #cecaca, #f0f0f0); 
}

/* BIRD & PALETTE */

#birddiv{
	position: absolute;
	position: fixed;
	top: 12px;
	right: 120px;
}
#bird{
	width: 55px;
	height: auto;
}
#palette1{
	position: absolute;
	position: fixed;
	top: 12px;
	right: 64px;
}
#palette2{
	position: absolute;
	position: fixed;
	top: 12px;
	right: 90px;
}
#palette3{
	position: absolute;
	position: fixed;
	top: 12px;
	right: 12px;
}
#palette4{
	position: absolute;
	position: fixed;
	top: 12px;
	right: 38px;
}
.grouping{
	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	filter: brightness(100%);
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grouping:hover{
	cursor: pointer;
	-webkit-filter: brightness(140%);
	-moz-filter: brightness(140%);
	-o-filter: brightness(140%);
	filter: brightness(140%);
}
.square{
	width: 22px;
	height: 22px;
	margin-bottom: 4px;
}
#blue1{
	background-color: #292e43;
}
#blue2{
	background-color: #1b4d65;
}
#blue3{
	background-color: #1e507e;
}
#blue4{
	background-color: #2a88b5;
}
#blue5{
	background-color: #1da2b1;
}
#blue6{
	background-color: #7eb3b8;
}
#red1{
	background-color: #433743;
}
#red2{
	background-color: #523552;
}
#red3{
	background-color: #7d4353;
}
#red4{
	background-color: #982235;
}
#red5{
	background-color: #cd3330;
}
#red6{
	background-color: #ec5f2e;
}
#red7{
	background-color: #e8832a;
}
#red8{
	background-color: #fac05e;
}

/* FIRST MENU */

#erstemenu{
	width: 200px;
	height: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
}
h2:hover{
	cursor: pointer;
	color: #ec5f2e;
}
#info{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	margin: 10px 30px 0px 30px;
	font-size: 1.1em;
	color: #696969;
	font-weight: 100;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}
#info:hover{
	font-size: 1.12em;
	color: #2a88b5;
}
#color{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	margin: 15px 30px 0 30px;
	font-size: 1.1em;
	color: #696969;
	font-weight: 100;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}
#color:hover{
	font-size: 1.12em;
	color: #2a88b5;
}
#arrowdiv{
	display: none;
	position: absolute;
	position: fixed;
	top: 10px;
	right: 195px;
}
#colorarrow{
	height: 85px;
	width: auto;
}

/* FULL MENU */

.menu{
	display: none;
	height: auto;
	margin: 15px auto 0 auto;
    text-align: center;

  	-webkit-animation: fadein 2.3s;
  	-moz-animation: fadein 2.3s;
  	-o-animation: fadein 2.3s;
  	animation: fadein 2.3s;
}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}} 
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
a{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	color: black;
	font-weight: 200;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}
a:visited{
	color: #696969;
}
a:hover{
	color: #2a88b5;
	font-size: 1.025em;
	line-height: 2.05em;
}
li{
	display: inline-block;
	font-size: .9em;
	margin: -12px 08px 0px 08px;
	line-height: 2.3em;
	list-style-type: none;

	-webkit-transition: all .13s ease-in-out;
	-moz-transition: all .13s ease-in-out;
  	-o-transition: all .13s ease-in-out;
  	transition: all .13s ease-in-out;
}
.menu li:before {
    content: " | ";
    color: lightgray;
}
#overlay{
	display: none;
}


/*MEDIA -> LARGE MONITOR*/

@media only screen and (min-width: 1900px){
	h3{
		font-size: 3.8em;
	}
	hr{
		width: 660px;
	}
	li{
		font-size: 1.8em;
	}
	#name{
		margin-top: 22%;
	}
	#info{
		font-size: 1.8em;
	}
	#info:hover{
		font-size: 1.85em;
	}
	#color{
		font-size: 1.8em;
	}
	#color:hover{
		font-size: 1.85em;
	}
	#arrowdiv{
		right: 130px;
	}
	#colorarrow{
		height: 105px;
		width: auto;
	}

	/* COLOR PALETTE */

	#birddiv{
		position: absolute;
		position: fixed;
		top: 12px;
		right: 195px;
	}
	#bird{
		width: 100px;
		height: auto;
	}
	#palette1{
		position: absolute;
		position: fixed;
		top: 15px;
		right: 105px;
	}
	#palette2{
		position: absolute;
		position: fixed;
		top: 15px;
		right: 150px;
	}
	#palette3{
		position: absolute;
		position: fixed;
		top: 15px;
		right: 15px;
	}
	#palette4{
		position: absolute;
		position: fixed;
		top: 15px;
		right: 60px;
	}
	.square{
		width: 40px;
		height: 40px;
		margin-bottom: 5px;
	}
	#arrowdiv{
		top: 11px;
		right: 325px;
	}
	#colorarrow{
		height: 120px;
		width: auto;
	}

}

/*MEDIA -> TABLET LRG*/

@media only screen and (min-width: 1310px){
	#name{
		margin-top: 21%;
	}
	hr{
		width: 460px;
	}
	#arrowdiv{
		right: 100px;
	}
	#colorarrow{
		height: 75px;
		width: auto;
	}

	/* MENU */

	.menu{
		width: 600px;
		margin: 22px auto 0 auto;
	}
	h3{
		font-size: 2.6em;
	}
	li{
		font-size: 1.15em;
	}
	.menu li:before{
	    content: "";
	    color: lightgray;
	}
	a:hover{
		color: #2a88b5;
		font-size: 1.1em;
		line-height: 2.05em;
	}
	#info{
		font-size: 1.2em;
	}
	#info:hover{
		font-size: 1.21em;
	}
	#color{
		font-size: 1.2em;
		margin: 15px 30px 0 30px;
	}
	#color:hover{
		font-size: 1.21em;
	}
	#arrowdiv{
		top: 10px;
		right: 185px;
}

/*MEDIA -> TABLET MED*/

@media only screen and (max-width: 850px){
	hr{
		width: 340px;
	}
	h3{
		font-size: 2.2em;
	}
	#name{
		margin-top: 43.5%;
	}

	/* MENU */

	.menu{
		width: 250px;
	}
	li{
		font-size: 1.15em;
	}
	.menu li:before{
	    content: "";
	    color: lightgray;
	}
	a:hover{
		color: #2a88b5;
		font-size: 1.1em;
		line-height: 2.05em;
	}
	#info{
		font-size: 1.2em;
	}
	#info:hover{
		font-size: 1.21em;
	}
	#color{
		font-size: 1.2em;
		margin: 15px 30px 0 30px;
	}
	#color:hover{
		font-size: 1.21em;
	}

	/* COLOR PALETTE */

	#arrowdiv{
		top: 100px;
		right: 115px;
	}
	#colorarrow{
		height: 90px;
		width: auto;
	}

	/* BACKGROUND */

	#background{
		width: 440px;
    	height: 78.5%;
    }
}

/*MEDIA -> TABLET ROTATE */

@media only screen and (min-width: 150px) and (max-width: 1100px){
	#overlay{
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: auto;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1000;
	}
	#overlay h2{
		font-family: 'Muli', sans-serif;
		font-weight: 100;
		color: white;
		text-align: center;
	}
}

/*MEDIA -> SMARTPHONE 500 */

@media only screen and (max-width: 500px){
	hr{
		width: 280px;
	}
	#name{
		width: 85%;
		height: auto;
		margin-top: 50%;
	    margin-right: auto;
	    margin-bottom: 0;
	    margin-left: auto;
	}
	h3{
		font-size: 1.9em;
	}
	li{
		display: block;
		font-size: 1.18em;
	}
	.menu li:before{
	    content: "";
	    color: lightgray;
	}
	a:hover{
	color: #2a88b5;
	font-size: 1.03em;
	line-height: 2.05em;
	}
	.menu{
		width: 200px;
		margin: 22px auto 0 auto;
	}
	#info{
		font-size: 1.18em;
	}
	#info:hover{
		font-size: 1.19em;
	}
	#color{
		font-size: 1.18em;
		margin: 15px 30px 0 30px;
	}
	#color:hover{
		font-size: 1.19em;
	}
	#arrowdiv{
		top: 75px;
		right: 80px;
	}
	#colorarrow{
		height: 75px;
		width: auto;
	}

	/* BACKGROUND */

	#background{
		width: 215px;
    	height: 60%;
	}

	/* COLOR PALETTE */

	#birddiv{
		position: absolute;
		position: fixed;
		top: 12px;
		right: 57px;
	}
	#bird{
		width: 48px;
		height: auto;
	}
	#palette1{
		position: absolute;
		position: fixed;
		top: 12px;
		right: 33px;
	}
	#palette2{
		position: absolute;
		position: fixed;
		top: 12px;
		right: 12px;
	}
	.square{
		width: 17px;
		height: 17px;
		margin-bottom: 3px;
	}
}

/*MEDIA -> SMARTPHONE 400 */

@media only screen and (max-width: 400px){
	#name{
		margin-top: 43.4%;
	}
	h3{
		font-size: 1.75em;
	}
	#background{
		width: 211px;
    	height: 61.3%;
	}

/*MEDIA -> SMARTPHONE 340 */

@media only screen and (max-width: 340px){
	#background{
		width: 183px;
    	height: 62.2%;
	}
	#name{
		margin-top: 40%;
	}
	h3{
		font-size: 1.65em;
	}
	li{
		display: block;
		font-size: 1.08em;
	}		
}










