*{
	margin: 0;
	padding: 0;
}
a{
	color: #696969;
	text-decoration: none;
}
a:hover{
	color: #2a88b5;
	cursor: pointer;
}
body{
	position: absolute;
	font-family: 'Muli', sans-serif;

	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
}
	@-webkit-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-moz-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@-o-keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
	@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}


/*MOBILE MENU*/


#mobilenav, .mobilemenu{
	display: none;
	position: absolute;
	position: fixed;

	z-index: 990;
}
#mobilenav{
	height: 70px;
	width: 100vw;
	position: fixed;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;
}
.mobilemenu{
	position: absolute;
	top: 14px;
	left: 13px;

	width: 52px;
	height: 40px;

	cursor: pointer;
	transition: background 0.3s;
}
.mobilemenu span {
	display: block;
	position: absolute;
	top: 19.5px;
	left: 7px;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;

	background: #2193A2;
}
.mobilemenu span::before,
.mobilemenu span::after {
	position: absolute;
	display: block;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;
	content: "";
}
.mobilemenu span::before {
	top: -9px;
	background-color: #2175A6;
}
.mobilemenu span::after {
	bottom: -9px;
	background-color: #818386;
}
.mm-htx span::before,
.mm-htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.1s, 0s;
}
.mm-htx span::before {
	transition-property: top, transform;
}
.mm-htx span::after {
	transition-property: bottom, transform;
}
.mm-htx.active span {
	background: none;
}
.mm-htx.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.mm-htx.active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}
.mm-htx.active span::before,
.mm-htx.active span::after {
	transition-delay: 0s, 0.1s;
}
.show{
	opacity: 1;
}
.hide{
	opacity: 0;
}


/*DESKTOP MENU*/


nav{
	height: 75px;
	width: 100vw;

	position: absolute;
	position: fixed;
	z-index: 990;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
nav > ul > li{
	font-size: 1em;
	list-style: none;
	display: inline-block;
	position: relative;
	font-weight: 300;
	margin: 0 2.2vw 0 2.2vw;

	-webkit-transition: all .18s ease-in-out;
	-moz-transition: all .18s ease-in-out;
  	-o-transition: all .18s ease-in-out;
  	transition: all .18s ease-in-out;
}
nav > ul > li:hover{
	color: #2a88b5;
	cursor: pointer;
}
#menuname{
	font-size: 1.6em;
	font-weight: 200;
	margin-left: -40px;
}
#divline{
	font-size: 1.6em;
	font-weight: 100;
	color: #696969;
	margin: 0 -170px 0 -150px;
	padding: 0;
}
#menubird{
	position: absolute;
	position: fixed;

	z-index: 1000;

	top: 10px;
	right: 8px;
	width: 55px;
	height: auto;

	-webkit-transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
  	-o-transition: all .17s ease-in-out;
  	transition: all .17s ease-in-out;

	-webkit-filter: saturate(0%) brightness(160%) contrast(80%);
    filter: saturate(0%) brightness(160%) contrast(80%);
}
#menubird:hover{
	cursor: pointer;

	-webkit-filter: saturate(100%) brightness(100%) contrast(100%);
    filter: saturate(100%) brightness(100%) contrast(100%);
}


/*PAGE CONTENT*/

#container{
  width: 100vw;
}
.wrapper{
	width: 100%;
	height: 100vh;

	display: flex;
	display: -webkit-flex;

	justify-content: center;
	-webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
}
.innerwrapper{
	width: 85%;

	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

  justify-content: center;
  -webkit-justify-content: center;

}
.h1{
	font-family: 'Muli' sans-serif;
	color: #D5D5D5;
	font-weight: 300;
	font-size: 6.5vw;
  margin: -10px 0 0 -10px;
}
.soc_icon-links{
  width: 220px;
  height: 55vh;

  border-right: solid 3.5px #E8E8E8;

  display: flex;
	display: -webkit-flex;

	flex-direction: column;
	-webkit-flex-direction: column;

  justify-content: center;
	-webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
}
.full_soc_logo{
  display: flex;
	display: -webkit-flex;

  width: 8vw;
  margin: 15px 0;

  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.full_soc_logo:hover{
  -webkit-filter: brightness(120%);
    filter: brightness(120%);
}
.contact_block{
  margin-left: 50px;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;
}
.greyspan {
  color: #8C8C8C;
}
.footerblack{
	color: #3F3F3F;
}
.contactlink{
	-webkit-transition: all .17s ease-in-out;
	-moz-transition: all .17s ease-in-out;
  	-o-transition: all .17s ease-in-out;
  	transition: all .17s ease-in-out;
}
.contactlink:hover{
	color: #2a88b5;
}
.bodytext{
  font-size: 1.4vw;
	font-weight: 300;

  margin: 10px 0;
	line-height: 1.4em;
}

/* MEDIA QUERIES */


@media screen and (max-width: 1000px) {
	nav{
		pointer-events: none;
		position: absolute;
		position: fixed;
		z-index: 960;

		opacity: 0;
		width: 100vw;
		height: 100vh;

		padding: 10px 0;
		background-color: #F8F8F8;
	}
	nav > ul > li{
		font-size: 8vw;
		text-align: center;
		font-weight: 300;
		color: #5A5B5D;

		display: block;
		position: relative;

		margin: 30px 2.2vw 0px 2.2vw;
	}
	#menuname, #divline{
		display: none;
	}
	#mobilenav, .mobilemenu{
		display: block;
		position: fixed;
	}
	#menubird{
		position: fixed;
		top: 10px;
		right: 5px;
		width: 55px;
	}
	.mobile_shift{
    		margin-top: -25px;
  	}


	/*CONTENT*/


	#container{
		width: 100vw;
	}
  .innerwrapper{
    margin-top: 15px;
  	width: 75vw;
    height: 65vh;
    border-left: solid 2px #E8E8E8;

  	display: flex;
  	display: -webkit-flex;

  	flex-direction: column;
  	-webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;
  }
  .contact_block{
    margin: -30px 0 0 20px;
  }
	.h1{
		font-weight: 300;
		font-size: 14vw;
    margin: 5vw 0 5vw -4px;
	}
  .bodytext{
		font-size: 4.2vw;
		font-weight: 300;

		line-height: 1.4em;
		margin: 2vw 0 4vw 0;
	}
  .soc_icon-links{
    width: 220px;
    height: 15vh;
    margin: 5px 0 0 6px;

    border: none;
    order: 2;

    display: flex;
  	display: -webkit-flex;

  	flex-direction: row;
  	-webkit-flex-direction: row;

    justify-content: flex-start;
  	-webkit-justify-content: flex-start;
  }
  .full_soc_logo{
    display: flex;
  	display: -webkit-flex;

    width: 15vw;
    margin: 0px 10px;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
}


@media screen and (min-width: 2000px) {

	/*HEADER*/

	nav{
		height: 120px;
	}
	nav > ul > li{
		font-size: 1.9em;
		margin: 0 2.6vw 0 2.6vw;
	}
	#menuname{
		font-size: 2.8em;
	}
	#divline{
		font-size: 2.6em;
		font-weight: 200;
		margin: 0 -200px 0 -150px;
	}
	#menubird{
		width: 95px;
	}
}
