---
layout: index
description: Alex Truesdale | Development, data science, and analytics. Pursuing growth with boundless, interminable curiosity.
---

{% assign index = site.data.index %}

<div class="background-div">
	{% for image in index.background_images %}
		<img id="{{ image.id }}" src="{{ image.src }}">
	{% endfor %}
</div>

<div class="palette">
	{% for group in index.palette %}
		<div class="palette-grouping" id="{{ group.group_id }}">
			{% for item in group.items %}
				<div class="palette-square" id="{{ item.id }}"></div>
			{% endfor %}
		</div>
	{% endfor %}

	<div class="index-bird-div">
		<img class="index-bird" src="/images/menubird.png">
	</div>
</div>

<div class="main-menu">
	<div class="menu-container">
		<h1 class="index-h1">{{ index.menu.name }}</h1>
		<div class="index-nav">
			<ul>
				{% for link in index.menu.links %}
					<li><a href="{{ link.url }}">{{ link.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
