.fullbkgd-about,
.fullbkgd-about-blur {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: -100;

  @include media('<1100px') {
    margin-left: -650px;
    width: auto;
    zoom: .45;
	}

  @include media('>750px', '<1100px') {
    zoom: 0;
	}
}

.fullbkgd-about {
  opacity: 0;
}

.fullbkgd-about-blur {
  opacity: 1;

  @include media('<1100px') {
    margin-bottom: 2px;
    margin-left: -356px;
    zoom: .811;
	}

  @include media('>750px', '<1100px') {
    zoom: 1.8;
	}
}

.container-about {
  @include media('<1100px') {
    width: 100vw;
	}
}

.wrapper-intro-about {
  display: flex;
  justify-content: flex-end;
}

.container-intro-about {
  background-color: rgba(0, 0, 0, .2);
  height: 95vh;
  margin-right: 50px;
  width: 48vw;
  z-index: 900;

  @include media('<1100px') {
    align-items: flex-start;
    display: flex;
    height: 120vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
    z-index: 980;
	}
}

.wrapper-inner-about {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

  @include media('<1100px') {
    width: 87vw;
	}
}

.scrollwrapper-about {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2.25vw 0 0 1.75vw;

  @include media('<1100px') {
    align-self: center;
    margin: 15.5vw 0 0;
	}

  @include media('>750px', '<1100px') {
    margin: 11vw 0 0;
	}

  @include media('>1800px') {
    margin: 2.25vw 0 0 2.4vw;
  }
}

.arrow {
  transition: ease-in-out .4s;
  width: 3.5vw;

  @include media('<1100px') {
    width: 13vw;
	}

  @include media('>750px', '<1100px') {
    width: 9vw;
	}
}

.arrow-about:hover {
  filter: brightness(130%);
  transform: translateY(5px);
}

.scrollspan-about {
  color: #b7b7b7;
  font-size: 1.3vw;
  margin: -.45vw 0 0 1vw;

  @include media('<1100px') {
    display: none;
	}
}

.anchor {
  display: block;
  visibility: hidden;
}

.about-anchor {
  height: 90px;
  margin-top: -90px;

  @include media('>1800px') {
    margin-top: -230px;
	}
}

.wrapper-content-about {
  display: flex;
  justify-content: center;
  margin: 200px 0 50px;
  position: relative;
  z-index: 970;

  @include media('<1100px') {
    margin: 50px 0;
	}

  @include media('>1800px') {
    margin: 170px 0 80px;
  }
}

.content-main-about {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 95%;

  @include media('<1100px') {
    flex-direction: column;
    width: 87%;
	}

  @include media('>750px', '<1100px') {
    width: 82%;
	}
}

.portrait {
  width: 30vw;

  @include media('<1100px') {
    margin-bottom: 25px;
    width: 87vw;
  }

  @include media('>750px', '<1100px') {
    width: 81vw;
	}

  @include media('>1800px') {
    width: 28vw;
  }
}

.bio-content {
  margin: -1.25vw 3vw 0 2.5vw;

  @include media('<1100px') {
    margin: -1.25vw 0 0;
	}

  @include media('>750px', '<1100px') {
    margin: 1.25vw 0 0;
  }

  @include media('>1800px') {
    margin: -1.25vw 3vw 0 3vw;
  }
}

.bio-header {
  font-size: 1.8vw;
  font-weight: 500;
  letter-spacing: .03em;
  margin: 1.75vw 0 1vw;

  @include media('<1100px') {
    font-size: 6vw;
    margin: 1.75vw 0 3vw;
  }

  @include media('>750px', '<1100px') {
    font-size: 4.5vw;
	}

  @include media('>1800px') {
    font-size: 1.6vw;
  }
}

.bh1 {
  color: #15708e;
}

.bh2 {
  color: #2c88b5;
}

.bh3 {
  color: #6899b6;
}

.bio-p {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.48em;
  margin-bottom: 1vw;

  @include media('<1100px') {
    font-size: 4.2vw;
    line-height: 1.5em;
    margin-bottom: 7vw;
	}

  @include media('>750px', '<1100px') {
    font-size: 2.8vw;
    margin-bottom: 6vw;
	}

  @include media('>1800px') {
    font-size: 1.2vw;
  }
}
