.fullbkgd-about{
	position: fixed;
	width: 100%;
	z-index: -100;
	bottom: 0;

	@include media('<1100px'){
		zoom: .45;
		margin-left: -650px;
		width: auto;
	}
	@include media('>750px', '<1100px'){
		zoom: 0;
	}
}
.container-about{
	@include media('<1100px'){
		width: 100vw;
	}
}
.wrapper-intro-about{
	display: flex;
	justify-content: flex-end;
}
.container-intro-about{
	z-index: 900;
	margin-right: 50px;

	width: 48vw;
	height: 95vh;
	background-color: rgba(0, 0, 0, 0.2);

	@include media('<1100px'){
		z-index: 980;
		margin: 0;

		width: 100vw;
		height: 120vh;

		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
}
.wrapper-inner-about{
	width: 85%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	@include media('<1100px'){
		width: 87vw;
	}
}
.intro-header-about{
	font-family: 'Muli' sans-serif;
	color: #D5D5D5;
	font-weight: 400;
	font-size: 6.5vw;
	margin: 2vw 0 0 1.75vw;

	@include media('<1100px'){
		font-size: 14vw;
		margin: 5vw 0 6vw 0;
	}
}
.intro-leadtext-about{
	color: white;
	font-size: 1.8vw;
	letter-spacing: .03em;
	line-height: 1.3em;
	font-weight: 600;
	margin: 1.5vw 0 2vw 2vw;

	@include media('<1100px'){
		font-size: 5vw;
		margin: 0 1vw 6vw 0vw;
	}
}
.intro-bodytext-about{
	color: white;
	font-size: 1.4vw;
	font-weight: 600;

	line-height: 1.4em;
	margin: 0 0 0 2vw;

	@include media('<1100px'){
		font-size: 4.2vw;
		margin: 0 0 4vw 0;
	}
}
.intro-list-about{
	margin-top: 2vw;

	@include media('<1100px'){
		width: 95%;
	}
}
.intro-list-about{
	li{
		color: white;
		font-size: 1.35vw;
		font-weight: 400;
		line-height: 1.4em;
		margin: 0 0 0 3.5vw;

		@include media('<1100px'){
			font-size: 4.2vw;
			margin: 0 0 0 4.7vw;
		}
	}
}
.scrollwrapper-about{
	margin: 2.25vw 0 0 1.75vw;

	display: flex;
	align-items: center;
	justify-content: center;

	@include media('<1100px'){
		margin: 8vw 0 0 0;
		align-self: center;
	}
}
.arrow{
	width: 4.5vw;
	transition: ease-in-out .4s;

	@include media('<1100px'){
		width: 14vw;
	}
}
.arrow-about:hover{
	transform: translateY(5px);
	filter: brightness(130%);
}
.scrollspan-about{
	font-size: 1.3vw;
	margin: -.25vw 0 0 .75vw;
	color: #B7B7B7;

	@include media('<1100px'){
		display: none;
	}
}
.anchor{
  display: block;
  visibility: hidden;
}
.about-anchor{
	height: 90px;
	margin-top: -90px;

	@include media('>2000px'){
		margin-top: -230px;
	}
}


/*PAGE CONTENT*/


.wrapper-content-about{
	position: relative;
	z-index: 970;
	margin: 200px 0 50px 0;

	display: flex;
	justify-content: center;

	@include media('<1100px'){
		margin: 50px 0 50px 0;
	}
}
.content-main-about{
	width: 95%;

	display: flex;
	align-items: center;
	justify-content: center;

	@include media('<1100px'){
		width: 87%;
		flex-direction: column;
	}
}
.portrait{
	width: 30vw;

	@include media('<1100px'){
		width: 87vw;
		margin-bottom: 25px;
	}
}
.bio-content{
	margin: -1.25vw 3vw 0 2.5vw;

	@include media('<1100px'){
		margin: -1.25vw 0vw 0 0vw;
	}
}
.bio-header{
	font-size: 1.8vw;
	letter-spacing: .03em;
	font-weight: 500;
	margin: 1.75vw 0 1vw 0;

	@include media('<1100px'){
		font-size: 6vw;
		margin: 1.75vw 0 3vw 0;
	}
}
.bh1{
	color: #15708e;
}
.bh2{
	color: #2c88b5;
}
.bh3{
	color: #6899B6;
}
.bio-p{
	font-size: 1.25vw;
	line-height: 1.48em;
	margin-bottom: 1vw;
	font-weight: 400;

	@include media('<1100px'){
		font-size: 4.2vw;
		line-height: 1.5em;
		margin-bottom: 7vw;
	}
}
