.content-gallery {
  flex-direction: column;
}

.title-overlay-div {
  align-items: center;
  animation: fade 4.2s linear;
  background: rgba(0, 0, 0, .01);
  display: flex;
  height: 80vh;
  justify-content: center;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 1001;

  @keyframes fade {
    0%, 10%, 100% {opacity: 0;}
    30%, 77% {opacity: 1;}
  }
}

.gallery-title-overlay {
  color: #fab54c;
  font-size: 7.1vw;
  font-weight: 400;

  @include media('<1100px') {
    font-size: 16vw;
  }
}

.page-numbers {
  position: absolute;
  right: 6.8%;
  top: 135px;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 55px;
    position: static;
  }

  @include media('>1800px') {
    right: 8.5%;
    top: 195px;
  }

  li {
    color: #c1c1c1;
    font-size: 1.4vw;
    list-style: none;
    margin-bottom: 8px;
    transition: ease-in-out .2s;

    @include media('<1100px') {
      display: inline-block;
      font-size: 5vw;
      margin: 0 5px 8px;
    }

    @include media('>750px', '<1100px') {
      font-size: 4vw;
      margin: 0 6px 8px;
    }

    @include media('>1800px') {
      font-size: 1.3vw;
    }

    &:hover {
      filter: brightness(110%);
    }
  }
}

.page-active::after {
  color: #2a88b5;
  content: '•';
  font-size: .9em;
  margin: .1px 0 0 9px;
  position: absolute;

  @include media('<1100px') {
    font-size: .8em;
    margin: -19px 0 0 -9px;
  }

  @include media('>750px', '<1100px') {
    margin: -35px 0 0 -16.5px;
  }

  @include media('>1000px', '<1100px') {
    margin: -40px 0 0 -21px;
  }

  @include media('>1800px') {
    font-size: .85vw;
    margin: 5px 0 0 9px;
  }
}

.gallery {
  column-count: 3;
  column-gap: 10px;
  margin: 48px auto 40px;
  width: 79%;

  @include media('<1100px') {
    column-count: 1;
    margin-top: 25px;
  }

  @include media('>750px', '<1100px') {
    margin-bottom: 80px;
  }

  @include media('>1800px') {
    margin: 90px auto 40px;
    width: 75%;
  }
}

.gal-img {
  position: relative;
}

.lb-trigger {
  opacity: 0;
  transition: ease-in-out .4s;

  &:hover {
    cursor: pointer;
  }
}

.lb-trigger,
.lb-preview {
  box-shadow: 1.5px 2px 2px rgba(0, 0, 0, .15);
  margin-bottom: 7px;
  width: 100%;

  @include media('<1100px') {
    margin-bottom: 20px;
  }
}

.lb-preview {
  height: calc(100% - 11px);
  opacity: 1;
  pointer-events: none;
  position: absolute;

  @include media('<1100px') {
    height: calc(100% - 23px);
  }
}

.lb-in {
  animation: lbfadein 1.15s linear;
  opacity: 1;

  @keyframes lbfadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.lb-out {
  animation: lbfadeout 1.15s linear;
  opacity: 0;

  @keyframes lbfadeout {
    from {opacity: 1;}
    to {opacity: 0;}
  }
}

.bottom-navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 90px 0 30px;

  @include media('<1100px') {
    margin: 0 0 30px;
  }
}

.content-berlin {
  .bottom-navigation {
    margin: -95px 0 30px;

    @include media('<1100px') {
      margin: 0 0 30px;
    }
  }
}

.prev-div,
.next-div {
  display: flex;
  width: 49.3%;
}

.next-div {
  justify-content: flex-start;
  margin-left: 8px;

  @include media('<1100px') {
    margin-left: 6.5px;
  }

  @include media('>750px', '<1100px') {
    margin-left: 12px;
  }
}

.prev-div {
  justify-content: flex-end;
  margin-right: 8px;

  @include media('<1100px') {
    margin-right: 6.5px;
  }

  @include media('>750px', '<1100px') {
    margin-right: 12px;
  }
}

.full-div {
  justify-content: center;
  width: 100%;
}

.bottom-nav-link {
  align-items: center;
  display: flex;
}

.nav-link-reverse {
  flex-flow: row-reverse;
}

.nav-text-next-rev,
.nav-text-prev {
  font-size: .9vw;
  margin-right: 13px;

  @include media('>750px', '<1100px') {
    font-size: 3.5vw;
    font-weight: 300;
  }
}

.nav-text-prev-rev,
.nav-text-next {
  font-size: .9vw;
  margin-left: 13px;

  @include media('>750px', '<1100px') {
    font-size: 3.5vw;
    font-weight: 300;
  }
}

.nav-arrow-next,
.nav-arrow-prev,
.nav-arrow-next-lb,
.nav-arrow-prev-lb,
.nav-arrow-next-lb--mobile,
.nav-arrow-prev-lb--mobile {
  filter: brightness(70%);
  transition: ease-in-out .3s;
  width: 3.2vw;

  @include media('<1100px') {
    width: 10.5vw;
  }

  @include media('>750px', '<1100px') {
    width: 9vw;
  }
}

.nav-arrow-next-lb--mobile,
.nav-arrow-prev-lb--mobile {
  display: none;

  @include media('<1100px') {
    display: block;
    margin: 0 13px;
    width: 11vw;
    z-index: 1200;
  }

  @include media('>750px', '<1100px') {
    margin: 0 20px;
    width: 9vw;
  }
}

.nav-arrow-next-lb,
.nav-arrow-prev-lb {
  @include media('<1100px') {
    display: none;
  }
}

.nav-arrow-next:hover,
.nav-arrow-next-lb:hover,
.nav-arrow-next-lb--mobile:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: translateX(2px);
}

.nav-arrow-prev:hover,
.nav-arrow-prev-lb:hover,
.nav-arrow-prev-lb--mobile:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: translateX(-2px);
}

.location-select-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 45px 0 85px;

  @include media('<1100px') {
    margin: 58px 0 75px;
  }

  @include media('>750px', '<1100px') {
    margin: 85px 0 95px;
  }
}

.location-select-gallery {
  color: #c1c1c1;
  font-size: 1.4vw;
  font-weight: 300;
  transition: all .1s ease-in-out;

  @include media('<1100px') {
    font-size: 5vw;
  }

  @include media('>750px', '<1100px') {
    font-size: 4vw;
  }

  @include media('>1800px') {
    font-size: 1.1vw;
	}
}

.location-select-gallery:hover {
  color: #2a88b5;
  cursor: pointer;
}

.location-btn-gallery {
  color: #fff;

  @include media('<1100px') {
    color: #e0e0e0;
  }

  &:hover {
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    filter: brightness(140%);
  }
}

.close-gallery {
  filter: brightness(130%);

  &:hover {
    cursor: pointer;
    filter: brightness(150%);
  }
}

.lb-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1500;
}

.lb-overlay2 {
  visibility: visible;
}

.lb-overlay3 {
  opacity: 100;
}

.lb-image-div {
  align-items: center;
  display: flex;
  height: 92%;
  justify-content: center;
  width: 60%;


  @include media('<1100px') {
    flex-flow: column;
    width: 88%;
  }
}

.nav-arrow-next-lb {
  margin-left: 20px;
  z-index: 1502;
}

.nav-arrow-prev-lb {
  margin-right: 20px;
  z-index: 1502;
}

.mobile-nav-arrows {
  @include media('<1100px') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}

#lb-image {
  max-height: 100%;
  max-width: 100%;
  z-index: 1502;

  @include media('>750px', '<1100px') {
    max-height: 90%;
    max-width: 90%;
  }
}

.lb-close {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1501;

  @include media('<1100px') {
    z-index: 1000;
  }
}
