.fullbkgd-photography{
	position: fixed;
	width: 100%;
  margin-bottom: -250px;
	z-index: -100;
	bottom: 0;

	filter: saturate(0);

  z-index: -100;

  @include media('<1100px'){
    zoom: .5;
    margin-left: -380px;
    margin-bottom: -650px;
    width: auto;
  }
  @include media('>750px', '<1100px'){
    zoom: 0;
  }
}
.container-photography{
  @include media('<1100px'){
    width: 100vw;
  }
}
.wrapper-intro-photography{
	margin: 0px 0 50px 0;

	display: flex;
	justify-content: flex-start;
}
.content-intro-photography{
	z-index: 900;
	margin-left: 50px;

	width: 48vw;
	height: 95vh;
	background-color: rgba(0, 0, 0, 0.2);

  @include media('<1100px'){
    z-index: 980;
    margin: 0;

    width: 100vw;
    height: 120vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.wrapper-inner-photography{
	width: 83%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

  @include media('<1100px'){
    width: 87vw;
  }
}
.intro-header-photography{
	font-family: 'Muli' sans-serif;
	color: #E6E6E6;
	font-weight: 400;
	font-size: 6.5vw;
	margin: 4vw 0 0 1.75vw;

  @include media('<1100px'){
		font-size: 14vw;
		margin: 5vw 0 6vw 0;
  }
}
.intro-leadtext-photography{
	color: white;
	font-size: 1.8vw;
	letter-spacing: .03em;
	line-height: 1.3em;
	margin: 1.5vw 0 2vw 2vw;

  @include media('<1100px'){
    font-size: 5vw;
		letter-spacing: .03em;
		line-height: 1.3em;
		margin: 0 1vw 6vw 0vw;
  }
}
.intro-bodytext-photography{
	color: white;
	font-size: 1.4vw;
	font-weight: 500;
	line-height: 1.4em;
	margin: 0 0 0 2vw;

  @include media('<1100px'){
    font-size: 4.2vw;
		line-height: 1.4em;
		margin: 0 0 4vw 0;
  }
}
.intro-list-photography{
  @extend .intro-bodytext-photography;
  margin: 1vw 0 1vw 2vw;

  @include media('<1100px'){
    margin: 0;
  }
  @include media('>750px', '<1100px'){
    font-size: 4vw;
  }
}
.scrollwrapper-photography{
	margin: 2.25vw 0 0 1.75vw;

	display: flex;
	align-items: center;
	justify-content: center;

  @include media('<1100px'){
    margin: 15vw 0 0 0;
		align-self: center;
  }
  @include media('>750px', '<1100px'){
    margin: 5vw 0 0 0;
  }
}
.arrow-photography{
	width: 3.5vw;
	transition: ease-in-out .4s;
	filter: brightness(100%);

  @include media('<1100px'){
    width: 13vw;
  }
  @include media('>750px', '<1100px'){
    width: 11vw;
    margin-top: 20px;
  }
}
.arrow-photography:hover{
	transform: translateY(5px);
	filter: brightness(130%);
}
.scrollspan-photography{
	font-size: 1.3vw;
	margin: -.45vw 0 0 1vw;
	color: #C1C1C1;

  @include media('<1100px'){
    display: none;
  }
}
.section-anchor{
  position: absolute;
  display: block;
  height: 20px;
  margin-top: -5px;
  visibility: hidden;

  @include media('<1100px'){
    height: 0;
    margin: 26px 0 0 0;
  }
  @include media('>750px', '<1100px'){
    margin: 170px 0 0 0;
  }
}
.location-menu{
	position: absolute;
	position: fixed;
	text-align: right;

	right: 0;
	top: 75px;
	margin-right: -25vw;

	background-color: rgba(0, 0, 0, 0.2);

	height: 100vh;
	width: 25vw;
	z-index: 1000;

  @include media('<1100px'){
    top: 70px;
    width: 100vw;
    right: 0;
    margin-right: -100vw;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include media('>1800px'){
    top: 120px;
  }
}
.location-menu-show{
	margin-right: 0vw !important;
}
.location-list{
	margin: 25px 15px 0 0;

  @include media('<1100px'){
    text-align: center;
    margin: -65px 0 0 0;
  }
  @include media('>750px', '<1100px'){
    margin: -45px 0 0 0;
  }
}
.location-item{
	list-style: none;

  a{
  	font-size: 2.35vw;
  	font-weight: 300;
  	line-height: 1.4em;
  	text-decoration: none;

		&:hover{
			color: white;
		}

    @include media('<1100px'){
      font-size: 7.5vw;
      line-height: 1.5em;
    }
    @include media('>750px', '<1100px'){
      font-size: 5.8vw;
  		line-height: 1.5em;
    }
  }
}
.location-btn{
	color: #E0E0E0;
}
.close{
	position: relative;
	margin-top: 30px;
	width: 2.5vw;
	transition: ease-in-out .4s;

	&:hover{
		cursor: pointer;
	}

  @include media('<1100px'){
    margin-top: 10px;
    width: 10vw;
  }
  @include media('>1800px'){
    width: 3vw;
  }
}
.close-photography{
	filter: brightness(100%);

	&:hover{
		filter: brightness(130%);
	}
}
.gallery-wrapper{
	position: relative;
	width: 100vw;
	height: 100vh;

	overflow: hidden;

  @include media('<1100px'){
    height: 108vh;
  }
  @include media('>750px', '<1100px'){
    height: 120vh;
  }
}
.title-content{
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 185px;

	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;

  @include media('<1100px'){
    height: 265px;
  }
  @include media('>750px', '<1100px'){
    height: 430px;
  }
  @include media('>1800px'){
    height: 310px;
  }
}
.title-content-lg{
  @include media('<1100px'){
    height: 275px;
  }
  @include media('>750px', '<1100px'){
    height: 500px;
  }
}

.location-title{
	font-size: 4.7vw;
	font-weight: 300;
	margin: 35px 0 0 25px;
	color: #E0E0E0;

  @include media('<1100px'){
    text-align: center;
    margin: 0;

    font-size: 15vw;
    margin-top: 55px;
  }
  @include media('>750px', '<1100px'){
    font-size: 14vw;
		margin-top: 80px;
  }
  @include media('>1800px'){
    margin: 40px 0 0 50px;
  }
}
.photo-title-lg{
  @include media('<1100px'){
    margin-top: 30px;
  }
  @include media('>750px', '<1100px'){
    margin-top: 50px;
  }
}
.button-wrapper{
	margin: 0 30px 0 30px;
  display: flex;
	align-items: center;
	justify-content: space-between;

  @include media('<1100px'){
    flex-direction: column;
    margin: 20px 0 0 0;
  }
  @include media('>1800px'){
    margin: 0 50px;
  }
}
.gallery-btn, .location-select-about{
	font-size: 1.4vw;
	color: #C1C1C1;
	transition: all .1s ease-in-out;

  @include media('<1100px'){
    font-size: 1.4vw;
    font-size: 5vw;
    font-weight: 300;
    color: #C1C1C1;
  }
  @include media('>750px', '<1100px'){
    font-size: 4vw;
  }
}
.location-select-about{
  @include media('<1100px'){
    margin-top: 13px;
  }
  @include media('>750px', '<1100px'){
    margin-top: 20px;
  }
}
.location-select-about:hover{
	cursor: pointer;
	color: #2a88b5;
}
.location-background{
	width: 100%;
	margin-top: -14vw;
	filter: saturate(0%);

	transition: ease-in-out .8s;

  @include media('<1100px'){
    width: initial;
		height: 105vh;
    zoom: 1.03;
  }
  @include media('>750px', '<1100px'){
    height: 125vh;
    zoom: 1;
  }
}
.location-background:hover{
	filter: saturate(100%);
}
.photography-anchor{
  margin-top: 0px;
  position: absolute;

  @include media('<1100px'){
    margin-top: 75px;
  }
  @include media('>750px', '<1100px'){
    margin-top: 260px;
  }
}
.position-1{
  @include media('<1100px'){
    margin-top: -155px;
  }
  @include media('>750px', '<1100px'){
    margin-top: -100px;
  }
}
.wraper-content-photography{
	position: relative;
	z-index: 970;

	display: flex;
	justify-content: center;

  @include media('<1100px'){
    margin: 200px 0 0 0;
  }
}
.content-main-photography{
	width: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}
.mobile-br{
	display: none;

  @include media('<1100px'){
    display: block;
  }
}
.paris-bkg{
  margin: -48vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 -120px;
  }
  @include media('>750px', '<1100px'){
    margin: -10px 0 0 -130px;
  }
  @include media('>1800px'){
    margin: -45vw 0 0 0;
  }
}
.prague-bkg{
  margin: -12.5vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 0;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -15px;
  }
  @include media('>1800px'){
    margin: -9vw 0 0 0;
  }
}
.dresden-bkg{
	margin: -25vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 -130px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -230px;
  }
}
.copenhagen-bkg{
	margin: -1.3vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 -70px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -130px;
  }
}
.bruges-antwerp-bkg{
	margin: -10vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 -15px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 0;
  }
}
.norway-bkg{
	margin: -12.5vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 0;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 0;
  }
  @include media('>1800px'){
    margin: -9vw 0 0 0;
  }
}
.stralsund-bkg{
	margin: -12.5vw 0 0 0;

  @include media('<1100px'){
    margin: 0 0 0 -250px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -550px;
  }
  @include media('>1800px'){
    margin: -9.5vw 0 0 0;
  }
}
.leipzig-bkg{
  @include media('<1100px'){
    margin: 0 0 0 -250px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -560px;
  }
  @include media('>1800px'){
    margin: -11vw 0 0 0;
  }
}
.berlin-bkg{
  @include media('<1100px'){
    margin: 0 0 0 -345px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -600px;
  }
  @include media('>1800px'){
    margin: -12vw 0 0 0;
  }
}
.hamburg-bkg{
  @include media('<1100px'){
    margin: 0 0 0 -165px;
  }
  @include media('>750px', '<1100px'){
    margin: -20px 0 0 -175px;
  }
  @include media('>1800px'){
    margin: -13vw 0 0 0;
  }
}
