
.fullbkgd-projects{
	position: fixed;
	width: 100%;
	z-index: -100;
	bottom: 0;

  @include media('<1100px'){
    zoom: .9;
    margin-left: -380px;
    width: auto;
  }
  @include media('>2000px'){
		zoom: 0;
	}
}
.container-projects{
  @include media('<1100px'){
    width: 100vw;
  }
}
.wrapper-intro-projects{
	display: flex;
	justify-content: flex-end;
}
.container-intro-projects{
	z-index: 900;
	width: 48vw;
	height: 95vh;
	background-color: rgba(0, 0, 0, 0.1);

  @include media('<1100px'){
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 980;
    margin: 0;
    width: 100vw;
    height: 120vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.wrapper-inner-projects{
	width: 83%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

  @include media('<1100px'){
    width: 87vw;
  }
}
.intro-header-projects{
	font-weight: 300;
	font-size: 6.5vw;
	margin: 2vw 0 0 1.75vw;

  @include media('<1100px'){
    font-size: 14vw;
    margin: 5vw 0 6vw 0;
  }
}
.intro-leadtext-projects{
	font-size: 1.8vw;
	letter-spacing: .03em;
	line-height: 1.3em;
	margin: 1.5vw 0 2vw 2vw;

  @include media('<1100px'){
    font-size: 5vw;
    margin: 0 1vw 6vw 0vw;
  }
}
.intro-bodytext-projects{
	font-size: 1.4vw;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 0 0 2vw;

  @include media('<1100px'){
    font-size: 4.2vw;
    margin: 0 0 4vw 0;
  }
}
.scrollwrapper-projects{
	margin: 2.25vw 0 0 1.75vw;

	display: flex;
	align-items: center;
	justify-content: center;

  @include media('<1100px'){
    margin: 39vw 0 0 0;
    align-self: center;
  }
}
.arrow{
	width: 4.5vw;
	transition: ease-in-out .4s;

  @include media('<1100px'){
    width: 14vw;
  }
}
.arrow-projects{
	filter: brightness(70%);
}
.arrow-projects:hover{
	transform: translateY(5px);
	filter: brightness(100%);
}
.scrollspan-projects{
	font-size: 1.3vw;
	margin: -.25vw 0 0 .75vw;
	color: #595959;

  @include media('<1100px'){
    display: none;
  }
}
.anchor{
  display: block;
  visibility: hidden;
}
.projects-anchor{
  height: 20px;
  margin-top: 40px;

  @include media('<1100px'){
    height: 110px;
    margin-top: -110px;
  }
}


/*PAGE CONTENT*/


.spin-bkgd{
	position: relative;
	width: 45%;
	z-index: -9999;

	animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 200s;

	@keyframes rotate {
  	from {transform: rotate(0deg);}
  	to {transform: rotate(3600deg);}
  }

  @include media('<1100px'){
    position: relative;
    width: 90%;
  }
}
.spin-text{
	font-size: 4.5vw;
	padding: 50vh 0 50vh 0;
	font-weight: 300;
	color: #595959;

  @include media('<1100px'){
    font-size: 7.5vw;
    padding: 8vh 0 0vh 0;
  }
}
.wrapper-content-projects{
	position: relative;
	z-index: 970;
	margin: 80px 0 50px 0;

	display: flex;
	justify-content: center;

  @include media('<1100px'){
    margin: 200px 0 120px 0;
    display: flex;
    justify-content: center;
  }
}
.content-main-projects{
	width: 95%;

	display: flex;
	align-items: center;
	justify-content: flex-start;

  @include media('<1100px'){
    width: 87%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
