.content-resume {
  display: flex;
  flex-direction: column;
}

.container-resume {
  background-color: #fff;
  box-shadow: 0 .5px 15px 0 #f3f3f3;
  margin: 60px auto 5px;
  max-width: 1800px;
  overflow: auto;
  padding: 50px 0 60px;
  position: relative;
  width: 72%;
  z-index: 950;

  @include media('<1100px') {
    margin: 25px auto 0;
    padding: 20px 0 30px;
    width: 90%;
    zoom: .9;
	}

  @include media('>750px', '<1100px') {
    zoom: 1.2;
	}

  @include media('>1000px', '<1100px') {
    zoom: 1.4;
	}

  @include media('>1800px') {
    width: 70%;
    zoom: 1.4;
	}

  br {
    @include media('<1100px') {
      line-height: 2em;
		}
	}
}

.resume-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 10px -55px;

  @include media('<1100px') {
    flex-direction: column;
    margin: 10px 0;
	}

  li {
    display: inline-block;
    list-style: none;
	}
}

.reshead-images {
  align-items: center;
  display: flex;
  float: left;
  justify-content: space-around;
  margin-left: 55px;
  width: 25%;

  @include media('<1100px') {
    float: none;
    justify-content: center;
    margin: 0;
    width: 100%;
	}

  @include media('>1800px') {
    margin-left: 40px;
  }
}

.reshead-graphic {
  height: auto;
  margin: -8px 0 0;
  width: 70px;

  @include media('<1100px') {
    display: none;
	}
}

.reshead-profile {
  filter: saturate(75%) brightness(105%);
  height: auto;
  margin: 0 10px 0 -15px;
  width: 210px;


  @include media('<1100px') {
    margin: 0;
    width: 250px;
	}
}

.reshead-text {
  margin: -15px 0 0;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100%;
	}
}

.resume-name {
  color: #8b9792;
  font-size: 75px;
  font-weight: 300;
  margin: 0;

  @include media('<1100px') {
    font-size: 40px;
    font-weight: 300;
	}
}

.reshead-areas {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: -14px;
  width: 89%;

  @include media('<1100px') {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    width: 90%;

    li {
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.5em;
		}
	}

  li {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .0175em;
	}
}

.divider-cube {
  background-color: #d9d9d9;
  display: inline-block;
  height: 10px;
  margin-bottom: 1.5px;
  width: 10px;

  @include media('<1100px') {
    display: none;
	}
}

.bullet-diamond-min {
  background-color: #d9d9d9;
  display: inline-block;
  height: 6px;
  margin: 0 3px 2px 4px;
  width: 6px;

}

.section-title {
  font-size: 35px;
  font-weight: 300;
  margin: 30px 0 0;
}

.resume-h3 {
  color: #8b9792;
  font-size: 20px;
  font-weight: 500;
  margin: 18px 0 3px;

  a {
    &:visited {
      color: #8b9792;
		}
	}
}

.resume-h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 2.5px 0;
}

.resume-bold {
  font-size: 14.7px;
  font-weight: 700;
}

.resume-semi {
  font-size: 13.7px;
  font-weight: 500;
}

.resume-unbold {
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 400;
  margin-left: 3px;
}

.btn-wrapper,
.expbutton {
  align-items: center;
  display: flex;
  justify-content: center;
}

.expbutton {
  background-color: #fff;
  border-bottom: 2px solid #b6b6b6;
  border-radius: 2px;
  display: none;
  font-weight: 200;
  height: 27px;
  width: 80px;

  @include media('<1100px') {
    display: block;
	}
}

.expbutton:hover {
  cursor: pointer;
}

.inner {
  width: 95%;

  @include media('<1100px') {
    background-color: #f9f9f9;
    border-radius: 2px;
    max-width: 500px;
    padding: 25px 15px 20px;
    width: 100%;

	}

  @include media('>750px', '<1100px') {
    margin-left: none;
    max-width: 620px;
    width: 100%;
	}
}

#ctrlqs,
#cesr,
#persinfo,
#eduinfo,
#compinfo,
#datascience,
#logrhythm,
#pythondev {
  @include media('<1100px') {
    display: none;
	}
}

#ctrlqsbtn,
#cesrbtn,
#eduinfobtn,
#datasciencebtn,
#logrhythmbtn,
#pythondevbtn {
  @include media('<1100px') {
    margin-bottom: 15px;
    margin-top: 15px;
	}
}

#compinfobtn {
  @include media('<1100px') {
    margin-top: 15px;
	}
}

#persinfobtn {
  @include media('<1100px') {
    margin-bottom: 20px;
	}
}

.leftcolumn {
  float: left;
  margin-left: 60px;
  width: 50%;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: center;
    margin-left: 5%;
    text-align: center;
    width: 90%;
	}
}

.responsibilities {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  margin: 18px 0;
  width: 95%;

  @include media('<1100px') {
    margin: 18px 0 18px 2.5%;
	}
}

.bullet-diamond {
  background-color: #d9d9d9;
  display: inline-block;
  height: 7px;
  margin: 0 12px 1.7px -19.5px;
  transform: rotate(45deg);
  width: 7px;

  @include media('<1100px') {
    margin: 0 10px 0 0;
	}
}

.extra-br {
  margin-bottom: 20px;
}

.ub-linebreak::before {
  @include media('<1100px') {
    content: '\a';
    white-space: pre;
	}
}

.job-summary {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 15px;
  width: 96%;

  @include media('<1100px') {
    margin-left: 4px;
    text-align: center;
    width: 97%;
	}
}

#compinfo {
  margin-top: 18px;
}

.rightcolumn {
  float: right;
  margin-right: 25px;
  width: 40%;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: center;
    margin-left: 5%;
    text-align: center;
    width: 90%;
	}
}

.school {
  margin: 15px 0;
}

.complang,
.education,
.personaldata {
  p {
    margin-top: 3px;
	}
}

.container-download {
  align-items: center;
  clear: both;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: 30px 0 60px;
  width: 100vw;

  @include media('>750px', '<1100px') {
    margin: 50px 0 60px;
  }

  @include media('>1800px') {
    margin: 95px 0 245px;
	}
}

.download {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 .5px 15px 0 #f3f3f3;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 165px;

  @include media('>750px', '<1100px') {
    zoom: 1.2;
	}

  @include media('>1000px', '<1100px') {
    zoom: 1.4;
	}

  @include media('>1800px') {
    zoom: 1.5;
	}
}

.dl-text {
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 4px;
}

.dl-div {
  background-color: #a8a8a8;
  border-radius: 10px;
  box-shadow: -.2px 0 2px 0 #e4e4e4;
  height: 25px;
  margin: 0 4px 0 9.5px;
  width: 1px;
}

.dl-arrow {
  margin: -.5px 3.5px 0 7.5px;
  width: 20px;
}

.download:hover > .dl-arrow {
  filter: brightness(130%) saturate(0%);
}
