.content-resume {
  display: flex;
  flex-direction: column;
}

.container-resume {
  background-color: #fff;
  box-shadow: 0 .5px 15px 0 #f3f3f3;
  margin: 60px auto 5px;
  max-width: 1800px;
  overflow: auto;
  padding: 50px 0 60px;
  position: relative;
  width: 78%;
  z-index: 950;

  @include media('<1100px') {
    margin: 25px auto 0;
    padding: 20px 0 30px;
    width: 92%;
    zoom: .9;
	}

  @include media('>750px', '<1100px') {
    zoom: 1.2;
	}

  @include media('>1000px', '<1100px') {
    zoom: 1.4;
	}

  @include media('>1800px') {
    width: 70%;
    zoom: 1.4;
	}

  br {
    @include media('<1100px') {
      display: none;
		}
	}
}

%light-gray-text {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
}

%modified-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.resume-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 10px -55px;

  @include media('<1100px') {
    flex-direction: column;
    margin: 10px 0;
	}

  li {
    display: inline-block;
    list-style: none;
	}
}

.reshead-images {
  align-items: center;
  display: flex;
  float: left;
  justify-content: space-around;
  margin-left: 55px;
  width: 25%;

  @include media('<1100px') {
    float: none;
    justify-content: center;
    margin: 0;
    width: 100%;
	}

  @include media('>1800px') {
    margin-left: 40px;
  }
}

.reshead-graphic {
  height: auto;
  margin: -8px 0 0;
  width: 72px;

  @include media('<1100px') {
    display: none;
	}
}

.reshead-profile {
  filter: saturate(75%) brightness(105%);
  height: auto;
  margin-left: -24px;
  width: 220px;


  @include media('<1100px') {
    margin: 0;
    width: 250px;
	}
}

.reshead-text {
  margin: -13px 0 0 5px;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100%;
	}
}

.resume-name {
  color: #8b9792;
  font-size: 58.5px;
  font-weight: 300;
  margin: 0 0 -6px 0;

  @include media('<1100px') {
    font-size: 40px;
    font-weight: 300;
	}
}

.reshead-data {
  margin-top: 1px;
}

.section-title {
  font-size: 31px;
  font-weight: 300;
  margin: 22px 0 0 -1px;
}

.resume-h3 {
  color: #8b9792;
  font-size: 21px;
  font-weight: 600;
  margin: 12px 0 1px;

  a {
    &:visited {
      color: #8b9792;
		}
	}
}

.resume-h3-skills {
  margin: 12px 0 4px;
}

.site-link {
  @extend .resume-h3;
  font-size: 18px;
  font-weight: 400;
  margin: 1px 0 5px 0;

  a {
    &:visited {
      color: #8b9792;
		}
	}
  @include media('<1100px') {
    margin: 10px 0;
	}
}

.resume-h5 {
  font-size: 14px;
  font-weight: 400;
  margin: 2.5px 0;
}

.bold-unbold {
  margin: 5px 0 4.5px;
}

.resume-bold {
  font-size: 16px;
  font-weight: 600;

  @include media('<1100px') {
    display: inline-block;
    margin-bottom: 4px;
  }
}

.rightcolumn .resume-bold {
    @include media('<1100px') {
      display: inline-block;
      margin: 0 5px 0 0px;
  	}
}

.resume-semi {
  font-size: 13.7px;
  font-weight: 500;
  margin-left: 5px;

  @include media('<1100px') {
    margin-left: 0;
  }
}

.resume-unbold {
  @extend %light-gray-text;
  margin-left: 3px;

  // @include media('<1100px') {
  //   margin-left: 0;
  // }
}

.btn-wrapper,
.expbutton {
  align-items: center;
  display: flex;
  justify-content: center;
}

.expbutton {
  background-color: #fff;
  border-bottom: 2px solid #b6b6b6;
  border-radius: 2px;
  display: none;
  font-weight: 200;
  height: 27px;
  width: 80px;

  @include media('<1100px') {
    display: block;
	}
}

.expbutton:hover {
  cursor: pointer;
}

.inner {
  width: 95%;

  @include media('<1100px') {
    background-color: #f9f9f9;
    border-radius: 2px;
    max-width: 500px;
    padding: 30px 35px 30px;
    text-align: left;
    width: 100%;

	}

  @include media('>750px', '<1100px') {
    margin-left: none;
    max-width: 560px;
    width: 100%;
	}
}

#ctrlqs,
#cesr,
#persinfo,
#eduinfo,
#compinfo,
#datascience,
#logrhythm,
#humboldt,
#cuboulder,
#pythondev,
#berlinanalysis,
#clothingreturns,
#persinfo,
#skillsinfo {
  @include media('<1100px') {
    display: none;
	}
}

#ctrlqsbtn,
#cesrbtn,
#eduinfobtn,
#datasciencebtn,
#logrhythmbtn,
#humboldtbtn,
#cuboulderbtn,
#pythondevbtn,
#berlinanalysisbtn,
#clothingreturnsbtn,
#persinfobtn,
#skillsinfobtn {
  @include media('<1100px') {
    margin-bottom: 10px;
    margin-top: 10px;
	}
}

#skillsinfobtn {
  @include media('<1100px') {
    margin-top: 15px;
	}
}

.leftcolumn, .rightcolumn {
    margin-top: -10px;
}

.leftcolumn {
  float: left;
  margin-left: 60px;
  width: 42%;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: center;
    margin-left: 5%;
    text-align: center;
    width: 90%;
	}
}

.rightcolumn {
  float: right;
  margin-right: 25px;
  width: 49%;

  @include media('<1100px') {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: none;
    justify-content: center;
    margin-left: 5%;
    text-align: center;
    width: 90%;
	}
}

.responsibilities {
  @extend %modified-p;
  margin: 13px 0;
  width: 95%;

  @include media('<1100px') {
    margin: 18px 0 18px 2.5%;
    text-align: left;
  }

  @include media('<750px') {
    padding: 19px;
	}

  @include media('>750px', '<1100px') {
    padding: 25px;
  }
}

.project {
  @extend .responsibilities;
  margin: 0;
}

.bullet-diamond {
  background-color: #e5e4e4;
  display: inline-block;
  height: 7px;
  margin: 0 12px 1.7px 0px;
  transform: rotate(45deg);
  width: 7px;
  border: solid rgba(0, 0, 0, 0.17) 1px;

  @include media('<1100px') {
    margin: 0 10px 4px 0;
	}
}

.skill-bold {
  margin-right: 8px;
}

.skill-block-empty {
  background-color: #efeded;
  display: inline-block;
  // position: relative;
  height: 11px;
  width: 11px;
  margin-right: 1px;
  border: solid rgba(0, 0, 0, 0.17) 1px;
}

.skill-block-full {
  @extend .skill-block-empty;
  background: rgba(131, 141, 138, .75);
  border: solid #ebebeb 2px;
  position: relative;
}

.skill-block-full:before {
  background: none;
  border: solid rgba(0, 0, 0, 0.22) 1px;
  content: '';
  width: 11px;
  height: 11px;
  position:absolute;
  top: -2px;
  left: -2px;
  right: 2px;
  bottom: 2px;
}

.code-link-img {
  width: 20px;
  margin-left: 7px;
  filter: opacity(40%);
}

.task-text {
  margin: 0 0 0 -2px;
  @include media('<1100px') {
    display: block;
    margin: -22px 0 5px 20px;
  }
}

.task-text-multi {
  display: inline-block;
  margin: -100px 0 0 20px;
  @include media('<1100px') {
    display: block;
    margin: -22px 0 5px 20px;
  }
}

.task-children {
  list-style: none;
  counter-reset: custom-counter;
  margin: 6px 0 6px 20px;

  li {
    counter-increment: custom-counter;

    @include media('<1100px') {
      margin-left: 20px
    }

    &::before {
      content: counter(custom-counter) ". ";
      @extend %light-gray-text;

      @include media('<1100px') {
        margin-left: -15px
    	}
    }
  }
}

.ub-linebreak::before {
  @include media('<1100px') {
    content: '\a';
    white-space: pre;
	}
}

.job-summary {
  margin-bottom: 7px;
  width: 100%;

  @include media('<1100px') {
    margin-left: 4px;
    width: 97%;
	}
}

.project-summary {
  margin-bottom: 15px;
  width: 96%;

  @include media('<1100px') {
    width: 97%;
	}
}

.school {
  margin: 10px 0;
}

.tech,
.education,
.language {
  p {
    @extend %modified-p;
	}
}

.language-top {
  margin-top: 12px;
}

.language {
  @include media('<1100px') {
    margin-bottom: 20px;
	}
}

.container-download {
  align-items: center;
  clear: both;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: 30px 0 60px;
  width: 100vw;

  @include media('>750px', '<1100px') {
    margin: 50px 0 60px;
  }

  @include media('>1800px') {
    margin: 95px 0 245px;
	}
}

.download {
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 .5px 15px 0 #f3f3f3;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 165px;

  @include media('>750px', '<1100px') {
    zoom: 1.2;
	}

  @include media('>1000px', '<1100px') {
    zoom: 1.4;
	}

  @include media('>1800px') {
    zoom: 1.5;
	}
}

.dl-text {
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 4px;
}

.dl-div {
  background-color: #a8a8a8;
  border-radius: 10px;
  box-shadow: -.2px 0 2px 0 #e4e4e4;
  height: 25px;
  margin: 0 4px 0 9.5px;
  width: 1px;
}

.dl-arrow {
  margin: -.5px 3.5px 0 7.5px;
  width: 20px;
}

.download:hover > .dl-arrow {
  filter: brightness(130%) saturate(0%);
}
