{% assign about = site.data.about %}

<div class="container">
	<div><img class="fullbkgd" src="{{ "/images/about_images/about_bkgd.png" | prepend: site.baseurl }}"></div>
	<div class="wrapper-intro">
		<div class="container-intro">
			<div class="wrapper-inner">
				<h1 class="intro-header">{{ about.intro.header }}</h1>
				<p class="intro-leadtext">{{ about.intro.leadtext[0] }}<br>{{ about.intro.leadtext[1] }}</p>
				<p class="intro-bodytext">{{ about.intro.bodytext }}</p>
				<ol class="intro-list">
					{% for item in about.intro.list %}
						<li>{{ item }}</li>
					{% endfor %}
		    </ol>
				<div class="scrollwrapper">
					<a href="#section1"><img class="arrow" src=" {{ "/images/down_arrow.png" | prepend: site.baseurl }}"></a>
					<span class="scrollspan">scroll down</span>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-content">
		<span class="anchor about-anchor" id="section1"></span>
		<div class="content-main">
			<div><img class="portrait" src="{{ "/images/about_images/portrait.png" | prepend: site.baseurl }}"></div>
			<div class="bio-content">
				{% for section in about.content %}
					<div>
						<h3 class="bio-header {{ section.class }}">{{ section.header }}</h3>
						{% for paragraph in section.text %}
							<p class="bio-p">{{ paragraph }}</p>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
