<div id="container">
	<div>
		<img class="fullbkgd" src="images/about_bkgd.png">
	</div>
	<div class="wrapper">
		<div class="contentcontainer">
			<div class="innerwrapper">
				<h1 class="h1">Hello.</h1>
				<p class="leadtext">
					My name is Alex Truesdale. <br> Welcome to my corner of the web.
				</p>
				<p class="bodytext">
					I built this website as a project to better introduce myself and my work to others in a well-designed, personalised space. A brief introduction of me; I like:
				</p>
				<ol>
					<li>International business & technology (data science, business analytics, web / software dev.)</li>
					<li>Pastry & warm beverages from around the world.</li>
					<li>Analogue photography (yes, one of those)</li>
		    </ol>
				<div class="scrollwrapper">
					<a href="#section1"><img id="down_arrow" class="arrow" src="images/down_arrow.png"></a>
					<span id="scrollspan">scroll down</span>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper2">
		<span class="anchor" id="section1"></span>
		<div id="secondcontent">
			<div>
				<img id="portrait" src="images/portrait.png">
			</div>
			<div id="biotext">
				<div>
					<h3 class="bioh3 bioh31">Business Analytics & An International Career</h3>
					<p class="biop">
						Coming from two years experience in digital marketing, my curiosity in sophisticated business systems has led me further to the fields of data science & business analytics.
						I am fascinated by the scalability of programming, machine learning, and the visible impact of data-informed decision-making on any given business.
					</p>
					<p class="biop">
						But a career in a cutting-edge field is just one component to an exciting life; I am also drawn to the challenges and experiences that come with travel and living amongst a new culture. Combining this and
						career, I have spent much of the last year living and working abroad in Berlin, Germany.
					</p>
				</div>
				<div>
					<h3 class="bioh3 bioh32">Why Move to Germany?</h3>
					<p class="biop">
						The value of international experience has become clear as my interests grow beyond the borders of the United States. A key step to building a unique, global career, life in Berlin has been an enriching and diverse experience, working with colleagues from all over the world and laying the foundation for further ambitions at home and abroad.
					</p>
				</div>
				<div>
					<h3 class="bioh3 bioh33">Creative Pursuits</h3>
					<p class="biop">
						Outside of professional life, I find myself drawn to photography and design.
					</p>
					<p class="biop">
						I like to test my skills in web and graphic design, sharpening development knowledge and building webpages — like this one. Conversely, with photography, I use only analogue cameras and film. The live-medium of film creates a uniquely fallible experience different from that of working with code where errors in process or materials have the potential to produce interesting results.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
