<footer class="site-footer">
  <div id="footerinfo">
    <p class="footergrey">© Alex Truesdale | All Rights Reserved</p>
    <p class="footerblack">Website designed and hand-coded by Alex Truesdale</p>
  </div>
  <div id="footergdiv">
    <img id="footerg" src="images/footer_g.png">
  </div>
  <div id="footercontact">
    <div id="text">
      <p><span class="footergrey">email:</span><a href="mailto:alex.truesdale@colorado.edu"><span class="footerblack contactlink"> alex.truesdale@colorado.edu</span></a></p>
      <p><span class="footergrey">phone:</span><a href="tel:+13035945068"><span class="footerblack contactlink"> +1 303 594 5068</span></a></p>
    </div>

    <div id="icons">
      <a href="http://www.facebook.com/truesdalealex" target="blank"><img class="socicon" id="fb" src="images/fb_logo.png"></a>
      <a href="https://www.linkedin.com/in/alextruesdale" target="blank"><img class="socicon" id="li" src="images/li_logo.png"></a>
    </div>
  </div>
</footer>
