{% assign photo = site.data.pages.photography %}


<div class="container container-photography">
  <div>
    <img class="fullbkgd" src="/images/gallery_images/photo_bkgd.png">
  </div>
  <div class="wrapper">
    <div class="contentcontainer">
      <div class="innerwrapper">
        <h1 class="h1">{{ photo.intro.header }}</h1>
        <p class="leadtext">{{ photo.intro.leadtext[0] }}<br>{{ photo.intro.leadtext[1] }}</p>
        <p class="bodytext" id="cameras">{{ photo.intro.bodytext }}</p>
        <p class="bodytext">
          {% for item in photo.intro.list %}
            {{ item }} <br>
          {% endfor %}
        </p>
        <div class="scrollwrapper">
          <a href="#section1"><img id="down_arrow" class="arrow" src="/images/down_arrow.png"></a>
          <span id="scrollspan">scroll down</span>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper2">
    <span class="anchor" id="section1"></span>
    <div id="secondcontent">
  <div id="locationmenu">
    <ul id="locationlist">
      <li class="locationitem"><a href="#section1a" class="locbtn">Stockholm</a></li>
      <li class="locationitem"><a href="#section2" class="locbtn">Berlin</a></li>
      <li class="locationitem"><a href="#section3" class="locbtn">Leipzig</a></li>
      <li class="locationitem"><a href="#section4" class="locbtn">Dresden</a></li>
      <li class="locationitem"><a href="#section5" class="locbtn">Prague</a></li>
      <li class="locationitem"><a href="#section6" class="locbtn">Stralsund</a></li>
      <li class="locationitem"><a href="#section7" class="locbtn">Hamburg</a></li>
      <li class="locationitem"><a href="#section8" class="locbtn">Copenhagen</a></li>
      <li class="locationitem"><a href="#section9" class="locbtn">Bergen/Oslo</a></li>
      <li class="locationitem"><a href="#section10" class="locbtn">Brugge/Antwerp</a></li>
      <li class="locationitem"><a href="#section11" class="locbtn">Paris</a></li>
      <li class="locationitem"><img class="locbtn" id="close" src="/images/gallery_images/close_arrow.png"></li>
    </ul>
  </div>
  <div class="wrapper2">
    <div id="secondcontent">
      <div class="gallerywrapper" id="g1">
        <span class="anchor" id="section1a"></span>
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Stockholm</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Stockholm">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g2">
        <span class="anchor" id="section2"></span>
        <img class="fwbackground" id="berlinbgd" src="/images/photography/teaser/Berlin.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Berlin</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Berlin">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g3">
        <span class="anchor" id="section3"></span>
        <img class="fwbackground" id="leipzigbgd" src="/images/photography/teaser/Leipzig.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Leipzig</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Leipzig">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g4">
        <span class="anchor" id="section4"></span>
        <img class="fwbackground" id="dresdenbgd" src="/images/photography/teaser/Dresden.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Dresden</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Dresden">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g5">
        <span class="anchor" id="section5"></span>
        <img class="fwbackground" id="praguebgd" src="/images/photography/teaser/Prague.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Prague</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Prague">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g6">
        <span class="anchor" id="section6"></span>
        <img class="fwbackground" id="stralsundbgd" src="/images/photography/teaser/Stralsund.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Stralsund</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Stralsund">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g7">
        <span class="anchor" id="section7"></span>
        <img class="fwbackground" id="hamburgbgd" src="/images/photography/teaser/Hamburg.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Hamburg</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Hamburg">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g8">
        <span class="anchor" id="section8"></span>
        <img class="fwbackground" id="copenhagenbgd" src="/images/photography/teaser/Copenhagen.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Copenhagen</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Copenhagen">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g9">
        <span class="anchor" id="section9"></span>
        <img class="fwbackground" id="bergenoslobgd" src="/images/photography/teaser/Norway.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Bergen/Oslo</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Bergen-Oslo">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g10">
        <span class="anchor" id="section10"></span>
        <img class="fwbackground" id="bruggeantwerpbgd" src="/images/photography/teaser/Belgium.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle phototitle-lg">Bruges/<br class="mobilebr">Antwerp</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Brugge-Antwerp">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="gallerywrapper" id="g11">
        <span class="anchor" id="section11"></span>
        <img class="fwbackground" id="parisbgd" src="/images/photography/teaser/Paris.png">
        <div class="titlebar">
          <div class="titlecontent">
            <h1 class="phototitle">Paris</h1>
            <div class="buttonwrapper">
              <span><a class="gallerybtn" href="/galleries/Paris">View Gallery</a></span>
              <span class="locselect">Select Location</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
