{% assign resume = site.data.pages.resume %}

<div class="container container-resume">
  <div class="resume-header">
    <div class="reshead-images">
      <img class="reshead-graphic" src="/images/resume_images/resumeleft.png">
      <img class="reshead-profile" src="/images/resume_images/resumehead.png">
    </div>

    <div class="reshead-text">
      <h1 class="resume-name">{{ resume.head.name }}</h1>
      <ul class="reshead-areas">
        {% for item in resume.head.areas %}
          {% if forloop.index < 3 %}
            <li>{{ item }}</li>
            <li><div class="divider-cube"></div></li>
          {% else %}
            <li>{{ item }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="leftcolumn">
    <div class="meta-summary">
      <p class="metasum-p">{{ resume.meta_summary }}</p>
    </div>
    <div class="experience">
      <h2 class="section-title">{{ resume.experience.section_title }}</h2>

      {% for position in resume.experience.positions %}
        <h3 class="resume-h3">{{ position.pos_title }}</h3>
        <p><span class="resume-bold">{{ position.company }}</span><span class="resume-unbold">{{ position.duration }}</span></p>
        <h5 class="resume-h5">{{ position.location }}</h5>

        <div class="btn-wrapper">
          <div id="{{ position.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ position.mobile_expand }}" class="responsibilities inner">
          <p class="job-summary">{{ position.job_sum }}</p>
          {% for task in position.tasks %}
            <div class="bullet-diamond"></div>{{ task }} <br>
          {% endfor %}
        </div>
      {% endfor%}
    </div>
  </div>

  <div class="rightcolumn">
    <div class="education">
      <h2 class="section-title">{{ resume.education.section_title }}</h2>
      <h3 class="resume-h3">{{ resume.education.cu_boulder.university }}</h3>
      <h5 class="resume-h5">{{ resume.education.cu_boulder.location }}</h5>

      <div class="btn-wrapper">
        <div id="eduinfobtn" class="expbutton">
          Expand
        </div>
      </div>

      <div id="eduinfo" class="inner">
        {% for uni in resume.education.cu_boulder.school_data %}
          <div class="school">
            <p><span class="resume-bold">{{ uni.school }}</span><span class="resume-unbold {% if uni.linebreak %}ub-linebreak{% endif %}">{{ uni.duration }}</span></p>
            <p>{{ uni.degree }}</p>

            {% if uni.gpa %}
              <p><span class="resume-bold">{{ uni.gpa.gpa_text }}</span><span class="resume-unbold">{{ uni.gpa.gpa_num }}</span></p>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      {% for uni in resume.education.other_edu %}
        <h3 class="resume-h3">{{ uni.school }}</h3>
        <p>{{ uni.location }}</p>
        <p><span class="resume-bold">{{ uni.desc }}</span><span class="resume-unbold {% if uni.linebreak %}ub-linebreak{% endif %}">{{ uni.duration }}</span></p>
      {% endfor %}
    </div>

    <div class="complang">
      <h2 class="section-title">{{ resume.comp_lang.section_title }}</h2>

      <div class="btn-wrapper">
        <div id="compinfobtn" class="expbutton">
          Expand
        </div>
      </div>

      <div id="compinfo" class="inner">
        {% for skill in resume.comp_lang.skills.digital %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}
        <br>
        {% for skill in resume.comp_lang.skills.data_prog %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}
        <br>
        {% for skill in resume.comp_lang.skills.lang %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}
      </div>
    </div>
    <div class="personaldata">
      <h2 class="section-title">{{ resume.personal_data.section_title }}</h2>
      <h3 class="resume-h3 extra-br">{{ resume.personal_data.website.lead }}<a href="http://{{ resume.personal_data.website.url }}">{{ resume.personal_data.website.url }}</a></h3>

      <div class="btn-wrapper">
        <div id="persinfobtn" class="expbutton">
          Expand
        </div>
      </div>
      <div id="persinfo" class="inner">
        {% for data in resume.personal_data.data %}
          <p><span class="resume-bold">{{ data.data }}</span><span class="resume-unbold">{{ data.content }}</span>{% if data.content_second %}<span class="bullet-diamond-min"></span><span class="resume-unbold">{{ data.content_second }}</span>{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-download">
  <a href="/images/resume_images/Résumé.pdf" target="blank">
  <div class="download">
    <p class="dl-text">Download</p>
    <div class="dl-div"></div>
    <img class="dl-arrow" src="/images/resume_images/download.png">
  </div></a>
</div>
