{% assign resume = site.data.pages.resume %}

<div class="container container-resume">
  <div class="resume-header">
    <div class="reshead-images">
      <img class="reshead-graphic" src="/images/resume_images/resumeleft.png">
      <img class="reshead-profile" src="/images/resume_images/resumehead.png">
    </div>

    <div class="reshead-text">
      <h1 class="resume-name">{{ resume.head.name }}</h1>
      <ul class="reshead-areas">
        {% for item in resume.head.areas %}
          {% if forloop.index < 3 %}
            <li>{{ item }}</li>
            <li><div class="divider-cube"></div></li>
          {% else %}
            <li>{{ item }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <h3 class="site-link"><a href="http://{{ resume.head.website.url }}">{{ resume.head.website.url }}</a></h3>
    </div>
  </div>

  <div class="leftcolumn">
    <div class="education">
      <h2 class="section-title">{{ resume.education.section_title }}</h2>
      {% for institution in resume.education.institutions %}
        <h3 class="resume-h3">{{ institution.university }}</h3>
        <h5 class="resume-h5">{{ institution.location }}</h5>

        <div class="btn-wrapper">
          <div id="{{ institution.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ institution.mobile_expand }}" class="inner">
          {% for data in institution.school_data %}
            <div class="school">
              <p><span class="resume-bold">{{ data.school }}</span><span class="resume-unbold ub-linebreak">{{ data.duration }}</span></p>
              <p>{{ data.detail }}</p>
            </div>
          {% endfor %}
        </div>
        {% endfor %}

      {% for uni in resume.education.other_edu %}
        <h3 class="resume-h3">{{ uni.school }}</h3>
        <p>{{ uni.location }}</p>
        <p><span class="resume-bold">{{ uni.desc }}</span><span class="resume-unbold {% if uni.linebreak %}ub-linebreak{% endif %}">{{ uni.duration }}</span></p>
      {% endfor %}
    </div>
    <div class="projects">
      <h2 class="section-title">{{ resume.projects.section_title }}</h2>

      {% for project in resume.projects.projects %}
        <h3 class="resume-h3">{{ project.name }}<a href="{{ project.url }}" target="blank"><img class="code-link-img" src="/images/resume_images/to_code.png"></a></h3>

        <div class="btn-wrapper">
          <div id="{{ project.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ project.mobile_expand }}" class="project inner">
          <p class="bold-unbold"><span class="resume-bold">Technologies: </span><span class="resume-unbold"> {{ project.technologies }}</span></p>
          <p class="project-summary">{{ project.description }}</p>
        </div>
      {% endfor%}
    </div>
    <div class="complang">
      <h2 class="section-title">{{ resume.comp_lang.section_title }}</h2>

      <div class="btn-wrapper">
        <div id="compinfobtn" class="expbutton">
          Expand
        </div>
      </div>

      <div id="compinfo" class="inner">
        {% for skill in resume.comp_lang.skills.lang.details %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}

        <h3 class="resume-h3">{{ resume.comp_lang.skills.digital.title }}</h3>
        {% for skill in resume.comp_lang.skills.digital.details %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.desc %}<span class="resume-semi">{{ skill.desc }}</span>{% endif %}{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}

        <h3 class="resume-h3">{{ resume.comp_lang.skills.data_prog.title }}</h3>
        {% for skill in resume.comp_lang.skills.data_prog.details %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}

        <h3 class="resume-h3">{{ resume.comp_lang.skills.work_vcontrol.title }}</h3>
        {% for skill in resume.comp_lang.skills.work_vcontrol.details %}
          <p><span class="resume-bold">{{ skill.skill }}</span>{% if skill.level %}<span class="resume-unbold">{{ skill.level }}</span>{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="experience">
      <h2 class="section-title">{{ resume.experience.section_title }}</h2>

      {% for position in resume.experience.positions %}
        <h3 class="resume-h3">{{ position.pos_title }}</h3>
        <p class="bold-unbold"><span class="resume-bold">{{ position.company }}</span><span class="resume-unbold ub-linebreak">{{ position.duration }}</span></p>
        <h5 class="resume-h5">{{ position.location }}</h5>

        <div class="btn-wrapper">
          <div id="{{ position.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ position.mobile_expand }}" class="responsibilities inner">
          <p class="job-summary">{{ position.job_sum }}</p>
          {% for task in position.tasks %}

            {% if task.main %}
              {% if task.children %}
                <div class="bullet-diamond"></div><span class="task-text">{{ task.main }}</span><br>
                  <ol class="task-children">
                    {% for child in task.children %}
                      <li>{{ child }}</li>
                    {% endfor %}
                  </ol>
              {% elsif task.multiline %}
                <div class="bullet-diamond"></div><span class="task-text-multi">{{ task.multiline }}</span><br>
              {% else %}
                <div class="bullet-diamond"></div><span class="task-text">{{ task.main }}</span><br>
              {% endif %}

            {% else %}
              <div class="bullet-diamond"></div><span class="task-text">{{ task }}</span><br>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor%}
    </div>
    <div class="personaldata">
      <h2 class="section-title">{{ resume.personal_data.section_title }}</h2>

      <div class="btn-wrapper">
        <div id="persinfobtn" class="expbutton">
          Expand
        </div>
      </div>

      <div id="persinfo" class="responsibilities inner">
        {% for data in resume.personal_data.data %}
          <p><span class="resume-bold">{{ data.data }}</span>{% if data.hyperlink %}<a href="{{ data.hyperlink }}"><span class="resume-unbold">{{ data.content }}</span></a>{% else %}<span class="resume-unbold">{{ data.content }}</span>{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-download">
  <a href="/images/resume_images/Résumé.pdf" target="blank">
  <div class="download">
    <p class="dl-text">Download</p>
    <div class="dl-div"></div>
    <img class="dl-arrow" src="/images/resume_images/download.png">
  </div></a>
</div>
