{% assign resume = site.data.pages.resume %}

<div class="container container-resume">
  <div class="resume-header">
    <div class="reshead-images">
      <img class="reshead-graphic" src="/images/resume_images/resumeleft.png">
      <img class="reshead-profile" src="/images/resume_images/resumehead.png">
    </div>

    <div class="reshead-text">
      <h1 class="resume-name">{{ resume.head.name }}</h1>
      <h3 class="site-link"><a href="http://{{ resume.head.website.url }}">›› {{ resume.head.website.url }}</a></h3>
      {% for data in resume.head.personal_data %}
        <p class="reshead-data"><span class="resume-bold">{{ data.data }}</span>{% if data.hyperlink %}<a href="{{ data.hyperlink }}"><span class="resume-unbold">{{ data.content }}</span></a>{% else %}<span class="resume-unbold">{{ data.content }}</span>{% endif %}</p>
      {% endfor %}
    </div>
  </div>

  <div class="leftcolumn">
    <div class="education">
      <h2 class="section-title">{{ resume.education.section_title }}</h2>
      {% for institution in resume.education.institutions %}
        <h3 class="resume-h3">{{ institution.university }}</h3>
        <h5 class="resume-h5">{{ institution.location }}</h5>

        <div class="btn-wrapper">
          <div id="{{ institution.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ institution.mobile_expand }}" class="inner">
          {% for data in institution.school_data %}
            <div class="school">
              <p><span class="resume-bold">{{ data.school }}</span><span class="resume-unbold ub-linebreak">{{ data.duration }}</span></p>
              <p>{{ data.detail }}</p>
            </div>
          {% endfor %}
        </div>
        {% endfor %}

      {% for uni in resume.education.other_edu %}
        <h3 class="resume-h3">{{ uni.school }}</h3>
        <p>{{ uni.location }}</p>
        <p><span class="resume-bold">{{ uni.desc }}</span><span class="resume-unbold {% if uni.linebreak %}ub-linebreak{% endif %}">{{ uni.duration }}</span></p>
      {% endfor %}
    </div>
    <div class="projects">
      <h2 class="section-title">{{ resume.projects.section_title }}</h2>

      {% for project in resume.projects.projects %}
        <h3 class="resume-h3">{{ project.name }}<a href="{{ project.url }}" target="blank"><img class="code-link-img" src="/images/resume_images/to_code.png"></a></h3>

        <div class="btn-wrapper">
          <div id="{{ project.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ project.mobile_expand }}" class="project inner">
          <p class="bold-unbold"><span class="resume-bold">Technologies: </span><span class="resume-unbold"> {{ project.technologies }}</span></p>
          <p class="project-summary">{{ project.description }}</p>
        </div>
      {% endfor%}
    </div>

    <div class="language">
      <h2 class="section-title">{{ resume.language.section_title }}</h2>
      <div class="language-top">
        {% for lang in resume.language.languages %}
          <p><span class="resume-bold">{{ lang.skill }}</span>{% if lang.level %}<span class="resume-unbold">{{ lang.level }}</span>{% endif %}</p>
        {% endfor %}
      </div>
    </div>

    <div class="tech">
      <h2 class="section-title">{{ resume.tech.section_title }}</h2>

      <div class="btn-wrapper">
        <div id="skillsinfobtn" class="expbutton">
          Expand
        </div>
      </div>


      <div id="skillsinfo" class="inner">
        <div class="resume-skills-no-show-full">
          <h3 class="resume-h3 resume-h3-skills">{{ resume.tech.skills.digital.title }}</h3>
          {% for skill in resume.tech.skills.digital.details %}
            {% assign skillcount = skill.level %}
            <p>
              <span class="resume-bold skill-bold">{{ skill.skill }}</span>{% if skill.desc %}<span class="resume-bold-min skill-bold">{{ skill.desc }}</span>{% endif %}
              {% for i in (1..4) %}
                {% if forloop.index <= skillcount %}
                  <span class="skill-block-full"></span>
                {% else %}
                  <span class="skill-block-empty"></span>
                {% endif %}
              {% endfor %}
            </p>
          {% endfor %}
        </div>

        <div class="">
          <h3 class="resume-h3 resume-h3-skills">{{ resume.tech.skills.data_prog.title }}</h3>
          {% for skill in resume.tech.skills.data_prog.details %}
            {% assign skillcount = skill.level %}
            <p>
              <span class="resume-bold skill-bold">{{ skill.skill }}</span>
              {% for i in (1..4) %}
                {% if forloop.index <= skillcount %}
                  <span class="skill-block-full"></span>
                {% else %}
                  <span class="skill-block-empty"></span>
                {% endif %}
              {% endfor %}
            </p>
          {% endfor %}
        </div>

        <div class="resume-skills-no-show-full">
          <h3 class="resume-h3 resume-h3-skills">{{ resume.tech.skills.work_vcontrol.title }}</h3>
          {% for skill in resume.tech.skills.work_vcontrol.details %}
            {% assign skillcount = skill.level %}
            <p>
              <span class="resume-bold skill-bold">{{ skill.skill }}</span>
              {% for i in (1..4) %}
                {% if forloop.index <= skillcount %}
                  <span class="skill-block-full"></span>
                {% else %}
                  <span class="skill-block-empty"></span>
                {% endif %}
              {% endfor %}
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="experience">
      <h2 class="section-title">{{ resume.experience.section_title }}</h2>

      {% for position in resume.experience.positions %}
        <h3 class="resume-h3">{{ position.pos_title }}</h3>
        <p class="bold-unbold"><span class="resume-bold">{{ position.company }}</span><span class="resume-unbold ub-linebreak">{{ position.duration }}</span></p>
        <h5 class="resume-h5">{{ position.location }}</h5>

        <div class="btn-wrapper">
          <div id="{{ position.mobile_expand }}btn" class="expbutton">
            Expand
          </div>
        </div>

        <div id="{{ position.mobile_expand }}" class="responsibilities inner">
          <p class="job-summary">{{ position.job_sum }}</p>
          {% for task in position.tasks %}

            {% if task.main %}
              {% if task.children %}
                <div class="bullet-diamond"></div><span class="task-text">{{ task.main }}</span><br>
                  <ol class="task-children">
                    {% for child in task.children %}
                      <li>{{ child }}</li>
                    {% endfor %}
                  </ol>
              {% elsif task.multiline %}
                <div class="bullet-diamond"></div><span class="task-text-multi">{{ task.multiline }}</span><br>
              {% else %}
                <div class="bullet-diamond"></div><span class="task-text">{{ task.main }}</span><br>
              {% endif %}

            {% else %}
              <div class="bullet-diamond"></div><span class="task-text">{{ task }}</span><br>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor%}
    </div>
    <hr class="resume-skills-no-show-mobile resume-hr">
    <div id="skillsinfo" class="inner resume-skills-no-show-mobile">
      <h3 class="resume-h3 resume-h3-skills">{{ resume.tech.skills.digital.title }}</h3>
      {% for skill in resume.tech.skills.digital.details %}
        {% assign skillcount = skill.level %}
        <p>
          <span class="resume-bold skill-bold">{{ skill.skill }}</span>{% if skill.desc %}<span class="resume-bold-min skill-bold">{{ skill.desc }}</span>{% endif %}
          {% for i in (1..4) %}
            {% if forloop.index <= skillcount %}
              <span class="skill-block-full"></span>
            {% else %}
              <span class="skill-block-empty"></span>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}

      <h3 class="resume-h3 resume-h3-skills">{{ resume.tech.skills.work_vcontrol.title }}</h3>
      {% for skill in resume.tech.skills.work_vcontrol.details %}
        {% assign skillcount = skill.level %}
        <p>
          <span class="resume-bold skill-bold">{{ skill.skill }}</span>
          {% for i in (1..4) %}
            {% if forloop.index <= skillcount %}
              <span class="skill-block-full"></span>
            {% else %}
              <span class="skill-block-empty"></span>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-download">
  <a href="/images/resume_images/Résumé.pdf" target="blank">
  <div class="download">
    <p class="dl-text">Download</p>
    <div class="dl-div"></div>
    <img class="dl-arrow" src="/images/resume_images/download.png">
  </div></a>
</div>
