*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-header, .site-content, .site-footer {
  display: flex;
}

.site-header {
  order: 1;
  height: 75px;

  @include media('<1000px') {
    height: 70px;
  }
}
.site-content {
  order: 2;
  min-height: 100vh;
  background-color: blue;
}
.site-footer {
  order: 3;
}
