html, body {
  font-family: $font-family-body;
  font-size: 100%;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

%heading-placeholder {
  font-family: $font-family-emphasis;
  font-weight: 400;
  line-height: 1.2;
  margin-top: .83em;
  padding: 0;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    @extend %heading-placeholder
  }
}

.sub-header {
  font-size: 1.125rem;
}

.text-note {
  font-size: .6875rem;
}

a {
  color: $color-primary;
  text-decoration: none;
}
