html,
body {
  font-family: $font-family-body;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  -webkit-text-size-adjust: none;
}

a {
  color: #696969;
  text-decoration: none;

  transition: all .18s ease-in-out;

  &:hover {
    color: #2a88b5;
    cursor: pointer;
  }
}

.intro-header {
  color: #d5d5d5;
  font-family: 'Muli' sans-serif;
  font-size: 6.5vw;
  font-weight: 300;
  margin: 2vw 0 0 1.75vw;

  @include media('<1100px') {
    font-size: 14vw;
    margin: 5vw 0 6vw;
	}

  @include media('>750px', '<1100px') {
    font-size: 12vw;
    margin: 8.8vw 0 4vw;
	}

  @include media('>1800px') {
    font-size: 5.8vw;
    margin: 4vw 0 0 2vw;
  }
}

.intro-leadtext {
  color: #fff;
  font-size: 1.8vw;
  font-weight: 600;
  letter-spacing: .03em;
  line-height: 1.3em;
  margin: 1.5vw 0 2vw 2vw;

  @include media('<1100px') {
    font-size: 5vw;
    margin: 0 1vw 6vw 0;
	}

  @include media('>750px', '<1100px') {
    font-size: 3.5vw;
	}

  @include media('>1800px') {
    font-size: 1.6vw;
    margin: 1.6vw 0 2vw 2.4vw;
  }
}

.intro-bodytext {
  color: #fff;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.4em;
  margin: 0 0 0 2vw;

  @include media('<1100px') {
    font-size: 4.2vw;
    margin: 0 0 4vw;
	}

  @include media('>750px', '<1100px') {
    font-size: 3.2vw;
	}

  @include media('>1800px') {
    font-size: 1.35vw;
    margin: 0 0 0 2.45vw;
  }
}

.intro-list {
  @extend .intro-bodytext;
  margin: 2vw 0 1vw 2vw;
  width: 100%;

  @include media('<1100px') {
    font-size: 4.2vw;
    width: 95%;
  }

  @include media('>750px', '<1100px') {
    font-size: 3.2vw;
    margin: 0;
  }

  @include media('>1800px') {
    font-size: 1.35vw;
    margin: 2vw 0 1vw 2.45vw;
  }

  li {
    @extend .intro-bodytext;

    @include media('<1100px') {
      font-size: 4.2vw;
      margin: 0 0 0 4.7vw;
		}

    @include media('>750px', '<1100px') {
      font-size: 3.2vw;
		}

    @include media('>1800px') {
      margin: 0 0 0 2vw;
    }
	}
}
