

/*BACKGROUND*/


.fullbkgd{
	position: relative;
	position: fixed;
	width: 100%;

	z-index: -100;
	bottom: 0;

}


/*INTRO CONTENT*/


.wrapper{
	margin-top: 75px;
	width: 100%;
	height: 100%;

	display: flex;
	display: -webkit-flex;

	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}
.contentcontainer{
	z-index: 900;
	margin-right: 50px;

	width: 48vw;
	height: 95vh;
	background-color: rgba(0, 0, 0, 0.2);
}
.innerwrapper{
	width: 85%;

	display: flex;
	display: -webkit-flex;

	flex-direction: column;
	-webkit-flex-direction: column;

	align-items: flex-start;
	-webkit-align-items: flex-start;

	justify-content: center;
	-webkit-justify-content: center;
}
.h1{
	font-family: 'Muli' sans-serif;
	color: #D5D5D5;
	font-weight: 300;
	font-size: 6.5vw;
	margin: 2vw 0 0 1.75vw;
}
.leadtext{
	color: white;
	font-size: 1.8vw;
	letter-spacing: .03em;
	line-height: 1.3em;
	margin: 1.5vw 0 2vw 2vw;
}
.bodytext{
	color: white;
	font-size: 1.4vw;
	font-weight: 300;

	line-height: 1.4em;
	margin: 0 0 0 2vw;
}
ol{
	margin-top: 2vw;
}
ol > li{
	color: white;
	font-size: 1.35vw;
	font-weight: 300;

	line-height: 1.4em;
	margin: 0 0 0 3.5vw;
}
.scrollwrapper{
	margin: 2.25vw 0 0 1.75vw;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;
}
.arrow{
	width: 4.5vw;
	transition: ease-in-out .4s;
}
.arrow:hover{
	transform: translateY(5px);
	-webkit-transform: translateY(5px);

	filter: brightness(130%);
}
#scrollspan{
	font-size: 1.3vw;
	margin: -.25vw 0 0 .75vw;
	color: #B7B7B7;
}
.anchor{
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}


/*PAGE CONTENT*/


.wrapper2{
	position: relative;
	z-index: 970;

	margin: 200px 0 50px 0;
	width: 100%;
	height: 100%;

	display: flex;
	display: -webkit-flex;

	justify-content: center;
	-webkit-justify-content: center;
}
#secondcontent{
	width: 95%;

	display: flex;
	display: -webkit-flex;

	align-items: center;
	-webkit-align-items: center;

	justify-content: center;
	-webkit-justify-content: center;
}
#portrait{
	width: 30vw;
}
#biotext{
	margin: -1.25vw 3vw 0 2.5vw;
}
.bioh3{
	font-size: 1.8vw;
	letter-spacing: .03em;
	font-weight: 600;

	margin: 1.75vw 0 1vw 0;
}
.bioh31{
	color: #2c88b5;
}
.bioh32{
	color: #6899B6;
}
.bioh33{
	color: #606060;
}
.biop{
	font-size: 1.25vw;
	line-height: 1.48em;
	margin-bottom: 1vw;
	font-weight: 400;
}


/* MEDIA QUERIES */


@media screen and (max-width: 1100px) {

	#container{
		width: 100vw;
	}
	.fullbkgd{
		z-index: -100;

		zoom: .45;
    	margin-left: -650px;
    	width: auto;
	}
	.wrapper{
		margin-top: 70px;
	}
	.contentcontainer{
		z-index: 980;
		margin: 0;

		width: 100vw;
		height: 120vh;

		display: flex;
		display: -webkit-flex;

		align-items: flex-start;
		-webkit-align-items: flex-start;

		justify-content: center;
		-webkit-justify-content: center;
	}
	.innerwrapper{
		width: 87vw;
	}
	.h1{
		font-weight: 300;
		font-size: 14vw;
		margin: 5vw 0 6vw 0;
	}
	.leadtext{
		font-size: 5vw;
		letter-spacing: .03em;
		line-height: 1.3em;
		margin: 0 1vw 6vw 0vw;
	}
	.bodytext{
		font-size: 4.2vw;
		font-weight: 300;

		line-height: 1.4em;
		margin: 0 0 4vw 0;
	}
	ol{
		width: 95%;
		margin-top: 2vw;
	}
	ol > li{
		font-size: 4.2vw;
		font-weight: 300;

		line-height: 1.4em;
		margin: 0 0 0 4.7vw;
	}
	.scrollwrapper{
		margin: 8vw 0 0 0;

		align-self: center;
		-webkit-align-self: center;
	}
	.arrow{
		width: 14vw;
	}
	#scrollspan{
		display: none;
	}
	.anchor{
	  display: block;
	  height: 90px;
	  margin-top: -90px;
	  visibility: hidden;
	}

	/*PAGE CONTENT*/

	.wrapper2{
		margin: 50px 0 50px 0;
		width: 100%;
		height: 100%;

		display: flex;
		display: -webkit-flex;

		justify-content: center;
		-webkit-justify-content: center;
	}
	#secondcontent{
		width: 87%;

		flex-direction: column;
		-webkit-flex-direction: column;
	}
	#portrait{
		width: 87vw;
		margin-bottom: 25px;
	}
	#biotext{
		margin: -1.25vw 0vw 0 0vw;
	}
	.bioh3{
		font-size: 6vw;
		letter-spacing: .03em;
		font-weight: 500;

		margin: 1.75vw 0 3vw 0;
	}
	.bioh31{
		color: #2c88b5;
	}
	.bioh32{
		color: #6899B6;
	}
	.bioh33{
		color: #606060;
	}
	.biop{
		font-size: 4.2vw;
		line-height: 1.5em;
		margin-bottom: 7vw;
		font-weight: 400;
	}
}

@media screen and (min-width: 750px) and (max-width: 1100px){
	.fullbkgd{
		zoom: 0;
	}


@media screen and (min-width: 2000px) {

	.anchor{
		margin-top: -230px;
	}
