footer {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -2px 1px .1px #f3f3f3;
  display: flex;
  height: 65px;
  justify-content: space-around;
  width: 100%;

  @include media('<1100px') {
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    justify-content: flex-start;
    position: relative;
	}

  @include media('>750px', '<1100px') {
    height: 260px;
	}

  @include media('>1800px') {
    height: 80px;
	}
}

.footer-g {
  height: auto;
  width: 35px;

  @include media('<1100px') {
    bottom: 28px;
    position: absolute;
    right: 15px;
    width: 35px;
	}

  @include media('>750px', '<1100px') {
    bottom: 40px;
    right: 25px;
    width: 55px;
	}
}

.footer-info {
  margin-left: -35px;

  @include media('<1100px') {
    margin: 25px 0 10px 12px;
    width: 95%;
	}

  @include media('>1800px') {
    margin-left: 95px;
	}
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  margin-right: -38px;

  @include media('<1100px') {
    flex-direction: column;
    justify-content: flex-start;

    margin: 5px 0 8px 12px;
	}

  @include media('>1800px') {
    margin-right: 95px;
	}
}

.footer-info,
.footer-contact {
  @include media('>750px', '<1100px') {
    margin-left: 55px;
    width: 90%;
	}
}

.text {
  margin-right: 12px;
  text-align: right;

  @include media('<1100px') {
    text-align: left;
	}

  @include media('>1800px') {
    margin: 12px;
	}
}

.icons {
  @include media('<1100px') {
    margin: 18px 0 0;
    position: relative;
	}
}

.footer-grey,
.footer-black {
  font-size: 12.5px;

  @include media('>750px', '<1100px') {
    font-size: 20px;
	}

  @include media('>1800px') {
    font-size: 1.2em;
	}
}

.footer-grey {
  color: #8c8c8c;
}

.footer-black {
  color: #3f3f3f;
}

.contact-link {
  transition: all .17s ease-in-out;
}

.contact-link:hover {
  color: #2a88b5;
}

.soc-icon {
  margin: 3px 2px 0 0;
  transform-style: preserve-3d;
  transition: all .25s ease-in-out;
  width: 36px;

  @include media('>750px', '<1100px') {
    margin: 3px 5px 20px 0;
    width: 55px;
	}

  @include media('>1800px') {
    margin: 7px 0 0 3px;
    width: 54px;
	}
}

.soc-icon:hover {
  filter: brightness(120%);
}
