.mobile-nav, .mobile-menu{
	display: none;
	position: absolute;
	position: fixed;

	z-index: 990;

	@include media('<1100px'){
		display: block;
		position: fixed;
	}
}
.mobile-nav{
	height: 70px;
	width: 100vw;
	position: fixed;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;

	@include media('>750px', '<1100px'){
		height: 100px;
	}
}
.mobile-menu{
	top: 14px;
	left: 13px;

	width: 52px;
	height: 40px;

	cursor: pointer;
	transition: background 0.3s;

	@include media('>750px', '<1100px'){
		top: 30px;
		left: 26px;
		width: 70px;
		height: 50px;
	}
}
.mobile-menu span {
	display: block;
	position: absolute;
	top: 19.5px;
	left: 7px;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;

	background: #2193A2;

	@include media('>750px', '<1100px'){
		width: 60px;
		height: 3px;
	}
}
.mobile-menu span::before,
.mobile-menu span::after {
	position: absolute;
	display: block;

	width: 37px;
	height: 2.3px;
	border-radius: 3px;
	content: "";

	@include media('>750px', '<1100px'){
		width: 60px;
		height: 3px;
	}
}
.mobile-menu span::before {
	top: -9px;
	background-color: #2175A6;

	@include media('>750px', '<1100px'){
		top: -14px;
	}
}
.mobile-menu span::after {
	bottom: -9px;
	background-color: #818386;

	@include media('>750px', '<1100px'){
		top: 14px;
	}
}
.mm-layer span::before,
.mm-layer span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.1s, 0s;
}
.mm-layer span::before {
	transition-property: top, transform;
}
.mm-layer span::after {
	transition-property: bottom, transform;
}
.mm-layer.active span {
	background: none;
}
.mm-layer.active span::before {
	top: 0;
	transform: rotate(45deg);
}
.mm-layer.active span::after {
	bottom: 0;
	transform: rotate(-45deg);

	@include media('>750px', '<1100px'){
		top: -1px;
	}
}
.mm-layer.active span::before,
.mm-layer.active span::after {
	transition-delay: 0s, 0.1s;
}
.show{
	opacity: 1;
}
.hide{
	opacity: 0;
}


/*DESKTOP MENU*/


nav{
	height: 75px;
	width: 100vw;

	position: absolute;
	position: fixed;
	z-index: 990;

	background-color: white;
	box-shadow: 0 1px 2px 0px #F3F3F3;

	display: flex;
	align-items: center;
	justify-content: space-around;

	@include media('<1100px'){
		pointer-events: none;
		position: absolute;
		position: fixed;
		z-index: 960;

		opacity: 0;
		width: 100vw;
		height: 100vh;

		padding: 10px 0;
		background-color: #F8F8F8;
	}
	@include media('>1800px'){
		height: 120px;
	}
}

nav{
	ul{
	  li{
			font-size: 1em;
			list-style: none;
			display: inline-block;
			position: relative;
			margin: 0 2.2vw 0 2.2vw;

			@include media('<1100px'){
				font-size: 8vw;
				text-align: center;
				font-weight: 300;
				color: #5A5B5D;

				display: block;
				position: relative;

				margin: 30px 2.2vw 0px 2.2vw;
			}
			@include media('>750px', '<1100px'){
				margin: 45px 2.2vw 0px 2.2vw;
				font-size: 6.2vw;
				line-height: 1.35;
			}
			@include media('>1800px'){
				font-size: 1.9em;
				margin: 0 2.6vw 0 2.6vw;
			}
		}
	}
}
.menu-name{
	font-size: 1.6em;
	font-weight: 300;
	margin-left: -40px;

	@include media('<1100px'){
		display: none;
	}
	@include media('>1800px'){
		font-size: 2.8em;
	}
}
.menu-divider{
	font-size: 1.6em;
	font-weight: 100;
	color: #696969;
	margin: 0 -170px 0 -150px;
	padding: 0;

	@include media('<1100px'){
		display: none;
	}
	@include media('>1800px'){
		font-size: 2.6em;
		font-weight: 200;
		margin: 0 -200px 0 -150px;
	}
}
.menu-bird{
	position: absolute;
	position: fixed;

	z-index: 1100;

	top: 10px;
	right: 8px;
	width: 55px;
	height: auto;

	transition: all .17s ease-in-out;
  filter: saturate(0%) brightness(160%) contrast(80%);

	@include media('<1100px'){
		position: fixed;
		top: 10px;
		right: 5px;
		width: 55px;
	}
	@include media('>750px', '<1100px'){
		width: 90px;
	}
	@include media('>1800px'){
		width: 95px;
	}
}
.menu-bird:hover{
	cursor: pointer;
  filter: saturate(100%) brightness(100%) contrast(100%);
}
