.background-div{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}
#background, #backgroundblue1, #backgroundblue2, #backgroundred1, #backgroundred2{
	min-height: 100%;
	min-width: 0px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;

	animation: fadein 1.9s;

  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @include media('<680px'){
    width: 190%;
    margin-left: -190px;
    margin-top: 65px;
    transform: rotate(-90deg) scaleX(-1);
    -webkit-transform: rotate(-90deg) scaleY(-1);
  }
  @include media('>700px', '<1100px'){
    width: 160%;
    margin-left: -205px;
  }
}
#backgroundblue1, #backgroundblue2, #backgroundred1, #backgroundred2{
	display: none;
}
.palette{
	display: flex;
	flex-direction: row-reverse;
  flex-wrap: nowrap;

  margin: 11px 11px 0 0;

  @include media('<680px'){
    position: absolute;
    right: 0;
    top: 0;
    margin: 11px 11px 0 0;

    flex-direction: column;
  }
}
.index-bird{
	width: 55px;
	height: auto;

  @include media('<680px'){
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px 23px 0 0;
  }
  @include media('>1800px'){
    width: 95px;
    height: auto;
  }
}
.palette-grouping{
	margin: 0 0 0 2px;
  transition: all .2s ease-in-out;

  @include media('<680px'){
    margin: 0 0 0 1px;
  }
}
.palette-grouping:hover{
	cursor: pointer;
	filter: brightness(140%);
}
.palette-square{
	width: 22px;
	height: 22px;
	margin-bottom: 2px;

  @include media('>1800px'){
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
  }
}
#blue1{
	background-color: #292e43;

  @include media('<680px'){
    display: none;
  }
}
#blue2{
	background-color: #1b4d65;
}
#blue3{
	background-color: #1e507e;

  @include media('<680px'){
    display: none;
  }
}
#blue4{
	background-color: #2a88b5;

  @include media('<680px'){
    display: none;
  }
}
#blue5{
	background-color: #1da2b1;

  @include media('<680px'){
    display: none;
  }
}
#blue6{
	background-color: #7eb3b8;
}
#red1{
	background-color: #433743;

  @include media('<680px'){
    display: none;
  }
}
#red2{
	background-color: #523552;

  @include media('<680px'){
    display: none;
  }
}
#red3{
	background-color: #7d4353;
}
#red4{
	background-color: #982235;

  @include media('<680px'){
    display: none;
  }
}
#red5{
	background-color: #cd3330;

  @include media('<680px'){
    display: none;
  }
}
#red6{
	background-color: #ec5f2e;

  @include media('<680px'){
    display: none;
  }
}
#red7{
	background-color: #e8832a;
}
#red8{
	background-color: #fac05e;

  @include media('<680px'){
    display: none;
  }
}
.main-menu{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 98vw;
	height: 69vh;

  @include media('<680px'){
    width: 100vw;
    height: 100vh;
  }
  @include media('>700px', '<1100px'){
    width: 90vw;
    margin-left: 60px;
    margin-top: 30px;
  }
  @include media('>1800px'){
    margin: -20px 0 0 80px;
  }
}
.menu-container{
	display: flex;
	flex-direction: column;
	align-items: left;

  @include media('<680px'){
    justify-content: center;
    align-items: center;
  }
}
.index-h1{
	font-size: 6.2vw;
	font-weight: 200;
	letter-spacing: .03em;

  @include media('<680px'){
    font-size: 12vw;
    letter-spacing: 0em;
    font-weight: 300;
    margin-top: 45px;
  }
  @include media('>700px', '<1100px'){
    font-size: 8vw;
  }
  @include media('>1800px'){
    font-size: 7.7vw;
    letter-spacing: 0em;
    margin-top: 100px;
  }
}
.index-nav{
	margin-top: 3px;
	font-size: 1.34vw;

  @include media('<680px'){
    font-size: 6vw;
    font-weight: 100;
    line-height: 3.0em;
    text-align: center;
    margin-top: 20px;
  }
  @include media('>700px', '<1100px'){
    font-size: 2.7vw;
  }
  @include media('>1800px'){
    font-size: 1.9vw;
    font-weight: 100;
    line-height: 1.1em;
  }

  li{
    display: inline-block;
  	text-decoration: none;
  	list-style: none;
  	color: #696969;
  	font-size: 1.1em;
  	font-weight: 400;
  	margin-right: 10px;

  	transition: all .18s ease-in-out;

    @include media('<680px'){
      display: block;
      font-size: 1.2em;
      margin: 0 0 -4px 0;
    }
  }
}
