$breakpoints: (
  'phone': 320px,
  'phone-lg': 375px,
  'tablet': 768px,
  'desktop': 1024px,
  'large': 1440px
) !default;

$font-family-body: 'Muli', sans-serif;
$font-family-emphasis: 'OpenSans Web', sans-serif;
